{% load custom_tags %}

<div class="tab-pane fade mt-5" id="curr-edu" role="tabpanel" aria-labelledby="curr-edu-tab">

    <div id="curr_edu_card">
               
    {% if curr_edu %}
    <div class="grid-personal-outercontainer">
        <div class="grid-personal-outercontainer-item">
            {% if "diploma" not in prev_deg and curr_edu%}
            <div id="FE" class="mb-5">

                <h4 class="mb-4 text-center">First Year </h4>

                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM1 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi1}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM2 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi2}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>FE CGPA</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.cgpa1}}</div>
                </div>


            </div>
            <hr class="my-4">
            {% endif %}
            {% if curr_edu.0.sgpi3 != "NA" and curr_edu%}
            <div id="SE" class="mb-5">

                <h4 class="mb-4 text-center">Second Year</h4>

                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM3 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi3}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM4 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi4}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SE CGPA</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.cgpa2}}</div>
                </div>

            </div>
            <hr class="my-4">
            {% endif %}


            {% if curr_edu.0.sgpi5 != "NA" and curr_edu%}
            <div id="TE" class="mb-5">

                <h4 class="mb-4 text-center">Third Year </h4>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM5 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi5}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM6 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi6}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>TE CGPA</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.cgpa3}}</div>
                </div>

            </div>
            <hr class="my-4">
            {% endif %}

            {% if curr_edu.0.sgpi7 != "NA" and curr_edu%}
            <div id="BE" class="mb-5">
                <h4 class="mb-4 text-center">Fourth Year </h4>

                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM7 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi7}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>SEM8 SGPI</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.sgpi8}}</div>
                </div>
                <div class="grid-personal-container">
                    <div class="grid-personal-curr-edu1"><strong>BE CGPA</strong></div>
                    <div class="grid-personal-curr-edu">{{curr_edu.0.cgpa4}}</div>
                </div>

            </div>
            <hr class="my-4">
            {% endif %}


            <h4 class="my-2 text-center">Status</h4>
            <div class="grid-personal-container">
                <div class="grid-personal-curr-edu1"><strong>Total Grades</strong></div>
                <div class="grid-personal-curr-edu">{{curr_edu.0.total_grade}}</div>
            </div>


            <div class="grid-personal-container">
                <div class="grid-personal-curr-edu1"><strong>Average SGPI</strong></div>
                <div class="grid-personal-curr-edu">{{curr_edu.0.average_sgpi}}
                    ({{curr_edu.0.average_sgpi|cgpa_percentage_conversion}}%)</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal-curr-edu1"><strong>Live KT(S)</strong></div>
                <div class="grid-personal-curr-edu">{{curr_edu.0.live_kt}}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal-curr-edu1"><strong>Dead KT(S)</strong></div>
                <div class="grid-personal-curr-edu">{{curr_edu.0.dead_kt}}</div>
            </div>
            <div class="grid-personal-container mb-5">
                <div class="grid-personal-curr-edu1"><strong>Drop year(s)</strong></div>
                <div class="grid-personal-curr-edu">{{curr_edu.0.drop}}</div>
            </div>


            
        </div>

    </div>


    {% endif %}
   

    </div>
</div>