{% load custom_tags %}
<div class="tab-pane fade mt-3 mb-3" id="edu" role="tabpanel" aria-labelledby="edu-tab">



    <div id="edu_cards">



        {% for edu in edu_list%}
        <div class="grid-personal-outercontainer mt-3">
            <div class="grid-personal-outercontainer-item">
                <div class="card-text">

                    <div class="grid-personal-container">
                        <div class="grid-personal">
                            <strong>
                                {% if edu.degree == '10'%}
                                School
                                {% else %}
                                College
                                {% endif %}
                            </strong>
                        </div>
                        <div class="grid-personal">{{edu.clg_name}}</div>
                    </div>


                    <div class="grid-personal-container">
                        <div class="grid-personal"><strong>Degree</strong></div>
                        <div class="grid-personal">{{edu.degree}}</div>
                    </div>
                    <div class="grid-personal-container">
                        <div class="grid-personal"><strong>Board</strong></div>
                        <div class="grid-personal">{{edu.board}}</div>
                    </div>
                    <div class="grid-personal-container">
                        <div class="grid-personal"><strong>Year Drop</strong></div>
                        <div class="grid-personal">{{edu.gap}}
                            {% if edu.gap|to_int <= 1 %} Year {% else %} Years {% endif %} </div>
                        </div>


                        <div class="grid-personal-container">
                            <div class="grid-personal"><strong>Marks</strong></div>
                            <div class="grid-personal">{{edu.marks}}</div>
                        </div>
                        <div class="grid-personal-container">
                            <div class="grid-personal"><strong>Percentage/CGPA</strong></div>
                            <div class="grid-personal">{% if edu.percentage > 12 %}
                                {{edu.percentage}}%
                                {% else %}
                                {{edu.percentage}} CGPA ({% marks_to_percentage edu.marks edu.no_of_subject %} %)
                                {% endif %}
                            </div>
                        </div>
                        {% if edu.degree == 'diploma' %}
                        <div id="diploma">
                            <div class="grid-personal-container">
                                <div class="grid-personal"><strong>Pattern</strong></div>
                                <div class="grid-personal">{{edu.diploma_pattern}}</div>
                            </div>
                            <div class="grid-personal-container">
                                <div class="grid-personal"><strong>Aggregate (marks-wise)</strong></div>
                                <div class="grid-personal">{{edu.diploma_aggregate_mw}}</div>
                            </div>
                            <div class="grid-personal-container">
                                <div class="grid-personal"><strong>Aggregate (percentage-wise)</strong></div>
                                <div class="grid-personal">{{edu.diploma_aggregate_pw}}</div>
                            </div>
                            <div class="grid-personal-container">
                                <div class="grid-personal"><strong>No. of Dead KT/S</strong></div>
                                <div class="grid-personal">{{edu.no_of_dead_kt}}</div>
                            </div>
                        </div>
                        {% endif %}
                        <div class="grid-personal-container">
                            <div class="grid-personal"><strong>Starting Year</strong></div>
                            <div class="grid-personal">{{edu.start_year}}</div>
                        </div>
                        <div class="grid-personal-container">
                            <div class="grid-personal"><strong>Passing Year</strong></div>
                            <div class="grid-personal">{{edu.end_year}}</div>
                        </div>

                    </div>
                </div>


            </div>

            <hr class="my-4">
            {% endfor %}



        </div>

    </div>