<div class="tab-pane fade show active mt-5" id="home" role="tabpanel" aria-labelledby="home-tab">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} fade show" id="msg-alert"
        style="background-color: #D9FAFF;color: #0F2C44;border: none;" role="alert">
        <strong>{{ message }}</strong>
    </div>
    {% endfor %}
    {% endif %}
    <div class="grid-personal-outercontainer">
        <div class="grid-personal-outercontainer-item">
            <h4 class="text-center mb-4">Personal Details</h4>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Username</strong></div>
                <div class="grid-personal">{{ request.user.username }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Branch</strong></div>
                <div class="grid-personal">{{ student_info.branch }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Gender</strong></div>
                <div class="grid-personal">{{ student_info.gender }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Date Of Birth</strong></div>
                <div class="grid-personal">{{ student_info.date_of_birth }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Age</strong></div>
                <div class="grid-personal">{{ student_info.age }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Corresponding Address</strong></div>
                <div class="grid-personal">{{ student_info.corresponding_address }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Permanent Address</strong></div>
                <div class="grid-personal">{{ student_info.permanent_address }}</div>
            </div>

            <hr class="my-4">

            <h4 class="text-center mb-3">Contact Details</h4>

            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Email (vit.edu.in)</strong></div>
                <div class="grid-personal">{{ request.user.email }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Email (@gmail.com)</strong></div>
                <div class="grid-personal">{{ student_info.gmail }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Phone Number</strong></div>
                <div class="grid-personal">{{ student_info.phone }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Residence Phone Number</strong></div>
                <div class="grid-personal">{{ student_info.residence_phone }}</div>
            </div>

            <hr class="my-4">
            <h4 class="text-center mb-3">Other Details</h4>


            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Year Of Joining</strong></div>
                <div class="grid-personal">{{ yearOfJoining }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Year Of Graduation</strong></div>


                <div class="grid-personal">{{ student_info.year_of_graduation }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Pan Card Number</strong></div>


                <div class="grid-personal">{{ student_info.pan_card_no }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Adhar Card Number</strong></div>


                <div class="grid-personal">{{ student_info.aadhar_no }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Passport Number</strong></div>


                <div class="grid-personal">{{ student_info.passport_no }}</div>
            </div>
            {% if student_info.disability == True %}
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Disability</strong></div>


                <div class="grid-personal">{{ student_info.disability }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Type of Disability</strong></div>


                <div class="grid-personal">{{ student_info.type_of_disability }}</div>
            </div>
            {% endif %}

            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Co Curriculum Activities</strong></div>

                <div class="grid-personal">{{ student_info.co_curriculum_activities }}</div>
            </div>
            <div class="grid-personal-container">
                <div class="grid-personal"><strong>Extra Curriculum Activities</strong></div>


                <div class="grid-personal">{{ student_info.extra_curriculum_activities }}</div>
            </div>
            <div class="grid-personal-container mb-5">
                <div class="grid-personal"><strong>Hobbies</strong></div>
                <div class="grid-personal">{{ student_info.hobbies }}</div>

            </div>

        </div>



        <div class="grid-personal-outercontainer-item">
          
        </div>
    </div>
</div>