{% extends 'student/base.html' %}
{% block title %} Details {% endblock %}
{% block content %}
<section id="about ">
    <div class="container mt-4">
        <div id="row" class="row align-items-center">
            <div class="col-lg-10 mx-auto p-3 mb-5 bg-white rounded mt-5 border">
                <h1 class="text-center" style="text-transform: uppercase;">{{details.comp_name}}</h1>
                <h3 class="text-center">{{details.domain}}</h3>
                <hr>
                <div class="row">
                    <div class="col-sm-3 text-center">
                        <h6>Salary/Stipend</h6>Rs. {{details.sal}}
                    </div>
                    <div class="col-sm-3 text-center">
                        <h6>Start Date</h6>{{details.start_date}}
                    </div>
                    <div class="col-sm-3 text-center">
                        <h6>Apply by</h6>
                        {{details.apply_by}}
                    </div>
                    <div class="col-sm-3 text-center">
                        <h6>Placed by</h6>
                        {{details.adm_id}}
                    </div>
                </div>
                <hr>
                <h5>About
                    {{details.comp_name}}
                </h5>
                <a href="{{details.link}}" style="text-transform:lowercase">
                    {{details.comp_name}}.com
                </a>
                <p>
                    {{details.about_comp}}
                </p>
                <hr>
                <h5>About the {{details.domain}} work
                </h5>
                <p>
                    {{details.about_work}}
                </p>
                <hr>
                <h5>Skill(s) required</h5>
                <p>
                    {{details.skills}}
                </p>
                <hr>
                <h5>Who can apply</h5>
                <p>
                    {{details.who_can_apply}}
                </p>
                <hr>
                <h5>Perks</h5>
                <p>
                    {{details.perks}}
                </p>
                <hr>
                <h5>Additional information</h5>
                <p>
                    {{details.additional}}
                </p>
                <hr>
                <div class="col text-center">
                    

                </div>
            </div>
        </div>
</section>
{% endblock %}