{% extends 'student/base.html' %}
{% load static %}
{% load custom_tags %}
{% block title %} Details {% endblock %}

{% block content %}


<style>
    .card-btn {
    background-color: #00BBF0;
    border: none;
    color: white!important;
}

.card-btn:hover {
    background-color: #009ac5;
}

@media (max-width: 576px) {
    .comp-header div h5{
       font-size: 1rem !important;
    }
    .comp-header div{
       font-size: 0.8rem !important;
    }
    .card{
        margin: 0px !important;
    }
}
</style>


<section id="about" style="color: #0F2C44;">
    <div class="container mb-2">
        <div id="row" class="row align-items-center">
            <div class="card card-body px-3 mx-5" style="border: none;">
                <h3 class="mt-2 text-center" style="font-size: 2rem;color: #0F2C44;">{{ details.comp_name }}</h3>
                <strong style="color: #00BBF0;" class="px-2 mb-5 text-center">{{ details.domain }}</strong>

                {% if details.work_from_home %}
                <div class="mb-3"><i class="fas fa-home mr-2"></i><span class="text-muted">Work From Home</span></div>
                {% endif %}

                <div class="d-flex justify-content-between comp-header">
                    <div class="sal text-center">
                        <h5 style="font-size: 1.2rem;">{{ pay|upper }}</h5>Rs. {{ details.sal }}
                    </div>
                    <div class="start-date text-center">
                        <h5 style="font-size: 1.2rem;">YEAR</h5>{{ details.year}}
                    </div>
                    <div class="apply-by text-center">
                        <h5 style="font-size: 1.2rem;">APPLY BY</h5>
                        {{ details.apply_by |date_format}}
                    </div>
                    <div class="link text-center">
                        <h5 style="font-size: 1.2rem;">WEBSITE</h5>
                        <a href="{{ details.link }}" style="text-transform:lowercase; text-decoration: none;">
                            visit
                        </a>
                    </div>
                </div>


                <div class="card-text mb-3 mt-5">
                    <h4 style="font-size:1.1rem;">ABOUT
                        {{ details.comp_name |upper}}
                    </h4>
                    <p>
                        {{ details.about_comp }}
                    </p>
                </div>

                <div class="card-text mb-3">
                    <h4 style="font-size:1.1rem;">ABOUT THE{{ details.domain |upper}} WORK
                    </h4>
                    <p>
                        {{ details.about_work }}
                    </p>
                </div>


                <div class="card-text mb-3">
                    <h4 style="font-size:1.1rem;">SKILLS(s) REQUIRED</h4>
                    <p>
                        {{ details.skills |upper}}
                    </p>
                </div>


                <div class="card-text mb-3">
                    <h4 style="font-size:1.1rem;">WHO CAN APPLY</h4>
                    <ol>
                        {{ details.who_can_apply|safe }}
                    </ol>
                </div>
                <div class="card-text mb-3">
                    <h4 style="font-size:1.1rem;">PERKS</h4>
                    <p>
                        {{ details.perks }}
                    </p>
                </div>

                <div class="card-text mb-3">
                    <h4 style="font-size:1.1rem;">ADDITIONAL INFORMATION</h4>
                    <p>
                        {{ details.additional }}
                    </p>
                </div>



                
                
                {% if details in related_job_list or details in related_int_list %}

                <form action="" method="post" id="form">
                    {% csrf_token %}
                    <div class="text-center">

                        {% if status == '1' %}

                        <button class="btn btn-primary text-center" style="background-color: #00BBF0;border: none;"
                            id="apply" disabled>Applied</button>
                        {% else %}
                        <button class="btn btn-primary text-center card-btn"id="apply"
                            onclick="submitFormData('{{ details.id }}' , '{{ type }}')">APPLY
                        </button>

                        {% endif %}

                    </div>
                </form>
                {% endif %}
                <div class="text-center">
                    {% if status == '2' %}
                    <button class="btn btn-danger text-center" id="apply" disabled>REJECTED</button>
                    {% elif status == '3' %}
                    <button class="btn btn-success text-center" id="apply" disabled>ACCEPTED</button>
                    {% endif %}
                </div>


                
            </div>
        </div>
    </div>
</section>


<script>


    // apply
    const status = '1';
    const form = document.getElementById('form')

    form.addEventListener('submit', function (e) {
        e.preventDefault()
        document.getElementById('apply').disabled = true;
        if (status === '1') {
            document.getElementById('apply').innerHTML = "APPLIED";
        }
    })


    const submitFormData = (id, type) => {


        const user_details = {
            'status': status,
            'id': id,
            'type': type
        }

        const url = '/student/apply/'
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify({ 'user_details': user_details })

        })
            .then((response) => response.json())
            .then((data) => {
                console.log()
            })
        
    }
</script>

{% endblock %}