
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body style="background-image:url('../static/images/indeximage.jpg'); background-repeat:no-repeat; background-size:cover; background-attachment:fixed">

<br>
<div class="container mt-5">
    <h3 style="text-align:center" class="mb-4">Jobs</h3>
    <div class="row mb-3">

        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180) ; text-shadow:0 0 4px white; ">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180) ; text-shadow:0 0 4px white; ">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
    <h3 style="text-align:center" class="mb-4">Internships</h3>
    <div class="row">
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180) ; text-shadow:0 0 4px white; ">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg" style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
            <div class="clear-fix">
            <a href="#" class="btn btn-link btn-3 float-right" data-toggle='modal' data-target='#mymodal' style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>Capgemini</i></h4>
                     <p>Web developer</p>
                     <div class="row">
                     <div class="col">
                            <p class = 'text-left mt-3'><strong>Stipend</strong></p>
                            <p class = 'text-left mt-n3'>Rs 2000</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Start Date</strong></p>
                            <p class = 'text-left mt-n3'>15/09/2020</p>
                        </div>
                        <div class="col">
                            <p class = 'text-left mt-3'><strong>Apply by</strong></p>
                            <p class = 'text-left mt-n3'>10/09/2020</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>




</div>
</body>
</html>