{% extends 'student/base.html' %}
{% block title %} Index {% endblock %}
{% block content %}


<!-- Search box -->
<div class="input-group" style="width: 75%; margin: auto;">
    <div class="input-group-prepend">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Search</button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Intership</a>
            <a class="dropdown-item" href="#">Job</a>
            <!-- <a class="dropdown-item" href="#">Something else here</a>
        <div role="separator" class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
    </div>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
</div>

<!-- Jobs -->


<div class="container mt-5">
    <h3 style="text-align:center" class="mb-4">Jobs</h3>
    <div class="row mb-3">

        {% for job in job_list %}
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg"
                style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180) ; text-shadow:0 0 4px white; ">
                <div class="clear-fix">
                    <a href="{{job.link}}" class="btn btn-link btn-3 float-right"
                        style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>{{job.comp_name}}</i></h4>
                    <p>{{job.domain}}</p>
                    <div class="row">
                        <div class="col">
                            <p class='text-left mt-3'><strong>Stipend</strong></p>
                            <p class='text-left mt-n3'>Rs {{job.sal}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Start Date</strong></p>
                            <p class='text-left mt-n3'>{{job.start_date}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Apply by</strong></p>
                            <p class='text-left mt-n3'>{{job.apply_by}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- internship -->
    <h3 style="text-align:center" class="mb-4">Internships</h3>
    <div class="row">

        {% for internship in int_list %}
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg"
                style="height:180px; background-image:linear-gradient(to top right,rgba(6,189,246,0.5),white); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
                <div class="clear-fix">
                    <a href="{{internship.link}}" class="btn btn-link btn-3 float-right"
                        style="color:black; text-shadow:0 0 4px white;">View Details &raquo;</a>
                    <h4><i>{{internship.comp_name}}</i></h4>
                    <p>{{internship.domain}}</p>
                    <div class="row">
                        <div class="col">
                            <p class='text-left mt-3'><strong>Stipend</strong></p>
                            <p class='text-left mt-n3'>Rs {{internship.sal}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Start Date</strong></p>
                            <p class='text-left mt-n3'>{{internship.start_date}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Apply by</strong></p>
                            <p class='text-left mt-n3'>{{internship.apply_by}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock %}