{% extends 'student/base.html' %}
{% load static %}
{% block title %} Index {% endblock %}
{% block content %}


<!-- Search box -->
<div style="width: 50%;margin: auto;">
    <form method="GET" action="{%url 'search'%}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">   
              <button class="btn btn-outline-secondary" type="submit" ><i class="fas fa-search"></i></button>
            </div>
            <input type="text" name="to_search" class="form-control" placeholder="Search for Internships and Jobs."
                aria-label="" aria-describedby="basic-addon1">
        </div>
    </form>
</div>

<!-- Jobs -->
<div class="container mt-5">
    <h3 style="text-align:center" class="mb-4">Jobs</h3>
    <div class="row mb-3">
        {% for job in related_job_list %}
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg"
                style="height:180px; background-image: linear-gradient(to top,#00b8ffe8, #ffff); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
                <div class="clear-fix">
                    <a href="details/{{job.id}}/1" class="btn btn-link btn-3 float-right"
                        style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>{{job.comp_name}}</i></h4>
                    <p>{{job.domain}}</p>
                    <div class="row">
                        <div class="col">
                            <p class='text-left mt-3'><strong>Salary</strong></p>
                            <p class='text-left mt-n3'>Rs {{job.sal}} LPA</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Start Date</strong></p>
                            <p class='text-left mt-n3'>{{job.start_date}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Apply by</strong></p>
                            <p class='text-left mt-n3'>{{job.apply_by}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Intership -->
    <h3 style="text-align:center" class="mb-4">Internships</h3>
    <div class="row">

        {% for internship in related_int_list %}
        <div class="col-sm-4 mb-4">
            <div class="container rounded-lg"
                style="height:180px; background-image: linear-gradient(to top,#00b8ffe8, #ffff); box-shadow:3px 3px 6px rgb(180,180,180); text-shadow:0 0 4px white">
                <div class="clear-fix">
                    <a href="details/{{internship.id}}/2" class="btn btn-link btn-3 float-right"
                        style="color:black; text-shadow:0 0 4px white">View Details &raquo;</a>
                    <h4><i>{{internship.comp_name}}</i></h4>
                    <p>{{internship.domain}}</p>
                    <div class="row">
                        <div class="col">
                            <p class='text-left mt-3'><strong>Stipend</strong></p>
                            <p class='text-left mt-n3'>Rs {{internship.sal}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Start Date</strong></p>
                            <p class='text-left mt-n3'>{{internship.start_date}}</p>
                        </div>
                        <div class="col">
                            <p class='text-left mt-3'><strong>Apply by</strong></p>
                            <p class='text-left mt-n3'>{{internship.apply_by}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% endblock %}