{% extends 'student/base.html' %}
{% load static %}
{% block title %}internship{% endblock %}
{% block content %}
<style>
  .sort_by_date p {
    cursor: pointer;
    color: #088bf0;
  }

  .sort_by_date p:hover {
    color: #1b38db;
  }
</style>
<h3 class="text-center h3 mb-5">All Currently Active Internships</h3>


<div class="row">
  <div class="col-md-3 col-xs-3 col-lg-3">
    <div class="card card-body">
      <h5 class="card-title text-center">
        <i class="fas fa-filter text-primary"></i>
        Filters
      </h5>
      <div class="card-text">
        <div class="mb-3">
          <label for="skills" class="form-label">Skills</label>
          <select class="custom-select filter_data" id="skills" name="skills" data-filter="skills">
            <option selected disabled hidden>e.g. JAVA</option>
            {% for skills in skill_set %}
            <option value="{{skills}}">{{skills}}</option>
            {% endfor %}
          </select>
        </div>


        <div class="mb-3">
          <label for="stipend">Desired min stipend</label>
          <input type="range" value="0" class="custom-range" min="0" max="5" onchange="updateTextInput(this.value)" id="stipend">
          <div class="d-flex justify-content-center">
            <span id="stipend_value" class="text-primary">0K</span>
          </div>
        </div>



        <div class="mb-3">
          <label for="starting_from" class="form-label">Starting from (or after)</label>
          <input type="date" class="form-control filter_data" name="starting_from" id="starting_from"
            placeholder="choose date" data-filter="starting_from">
        </div>


        <div class="mb-3">
          <label for="duration" class="form-label">Max Duration (months)</label>
          <select class="custom-select filter_data" id="duration" name="duration" data-filter="duration">
            <option selected disabled hidden>choose duration</option>
            {% for d in duration %}
            <option value="{{d}}">{{d}} months</option>
            {% endfor %}
          </select>
        </div>

        <div class="mb-3 sort_by_date">
          <p class="float-right">sort by apply date</p>
        </div>

        <div class="mb-3">
          <button class="btn btn-secondary w-100" onclick="reset_form()">Reset</button>
        </div>
      </div>
    </div>

  </div>

  <div class="col-md-9 col-xs-9 col-lg-9" id="filter_internships">
    <div class="d-flex justify-content-center">
      <div class="spinner-border text-primary  ajaxLoader  mt-5" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    {% for internship in related_int_list %}
    <div class="mx-auto mb-5 bg-white rounded-lg p-3 clear-fix shadow internship">
      <a href="/student/details/{{internship.id}}/2" class="float-right" style="text-decoration: none;">View details</a>
      <h4>{{internship.comp_name}}</h4>
      <h6>{{internship.domain}}</h6>
      <div class="row">
        <div class="col-3">
          <p class="mt-4"><strong>Stipend:</strong></p>
          <p>Rs. {{internship.sal}}</p>
        </div>
        <div class="col-3">
          <p class="mt-4"><strong>Start Date:</strong></p>
          <p>{{internship.start_date}}</p>
        </div>
        <div class="col-3">
          <p class="mt-4"><strong>Apply By:</strong></p>
          <p>{{internship.apply_by}}</p>
        </div>
        <div class="col-3">
          <p class="mt-4"><strong>Duration:</strong></p>
          <p>{{internship.duration}}</p>
        </div>
      </div>
      <div class="">
        <p><strong>Skills:</strong>
        <p>
      </div>
      <div class="row bg-primary mx-1 rounded-lg text-white p-1 px-3" style="text-align:center">
        {{internship.skills}}
      </div>
    </div>
    {% endfor %}
  </div>

</div>


<script>
  function reset_form() {
    location.reload();
  }

  function updateTextInput(val) {
    document.getElementById('stipend_value').innerText = String(2*Number(val)) +'K (monthly)';
  }






</script>
<script src="{% static 'js/internFilter.js'%}"></script>

{% endblock %}