{% extends 'student/base.html' %}
{% block title %}internship{% endblock %}
{% block content %}

{% for internship in related_int_list %}
      <div class="mx-auto mt-5 bg-white rounded-lg p-3 clear-fix shadow internship" >
        <a href="details/{{internship.id}}/2" class="float-right">View details</a>
        <h4>{{internship.comp_name}}</h4>
        <h6>{{internship.domain}}</h6>
        <div class="row">
          <div class="col-3">
            <p class="mt-4"><strong>Stipend:</strong></p>
            <p>Rs. {{internship.sal}}</p>
          </div>
          <div class="col-3">
            <p class="mt-4"><strong>Start Date:</strong></p>
            <p>{{internship.start_date}}</p>
          </div>
          <div class="col-3">
            <p class="mt-4"><strong>Apply By:</strong></p>
            <p>{{internship.link}}</p>
          </div>
          <div class="col-3">
            <p class="mt-4"><strong>Duration:</strong></p>
            <p>{{internship.duration}}</p>
          </div>
        </div>
        <div class="row bg-primary mx-1 rounded-lg text-white p-1 px-3" style="text-align:center">
          {{internship.skills}}
        </div>
      </div>
{% endfor %}

{% endblock %}