{% load static %}
<style>
  .nav-links-item{
    color: #0F2C44;
  }
  @media (max-width: 576px) { 
    .side-nav{
      display: none;

    }
  }
  @media (max-width: 991px) { 
    .side-nav{
      display: none;

    }
  }
  
</style>

<nav class="side-nav" style="width: 50px; height: 100vh; background-color: #D9FAFF;position: fixed; left: 0;">
<ul style="list-style: none;" class="mt-5 p-0 pt-3">
  <li class="nav-links-item mb-3 p-2" style="background-color: white;"><span class="iconify" data-icon="fluent:home-20-regular" data-width="30" data-height="30"></span></li>
  <li class="nav-links-item mb-3 p-2"><span class="iconify" data-icon="fluent:home-20-regular" data-width="30" data-height="30"></span></li>
  <li class="nav-links-item mb-3 p-2"><span class="iconify" data-icon="fluent:home-20-regular" data-width="30" data-height="30"></span></li>
  <li class="nav-links-item mb-3 p-2"><span class="iconify" data-icon="fluent:home-20-regular" data-width="30" data-height="30"></span></li>
  
</ul>
</nav>