{% extends 'student/base.html' %}
{% block title %}preplacement{% endblock %}
{% block content %}

    <div class="mx-auto mt-3 mb-5 bg-white rounded-lg p-3 clear-fix shadow " >
      <h6 class="float-right"><strong>Date : </strong>12/06/2020</h6>
      <h4 style="text-transform:capitalize"><?=$testname?></h4>
      <div class="row">
        <div class="col-4">
          <p><strong>From : </strong>12 hrs</p>
          <p><strong>To : </strong>13hrs</p>
        </div>
        <div class="col-4">
          <p><strong>Placed by : </strong><h6>Prof. Rohit Barve</h6></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>lorem</p>
        </div>
      </div>
    </div>

{% endblock %}
