{% extends 'student/base.html' %}
{% block title %}preplacement{% endblock %}
{% block content %}
<style>
  .card-btn {
    background-color: #00BBF0;
    border: none;
    color: white !important;
  }

  .card-btn:hover {
    background-color: #009ac5;
  }
  @media (min-width: 576px) and (max-width: 991px) {
    .prep-div{
      padding: 0px 39px;
    }
  }
</style>

<h4 class="text-center my-3" style="font-size: 1.6rem;color: #0F2C44;">PREPLACEMENT</h4>
{% for test in mock_test %}
<div class="prep-div card card-body my-3" style="border: none;">
  <div class="d-flex justify-content-between">
    <h5 style="text-transform:capitalize; color: #0F2C44;">{{test.name}}</h5>
    <h6 class="text-muted">Date: {{test.date}}</h6>
  </div>
  <div class="my-2">
    <span class="text-muted">{{test.from_time}} &nbsp; - &nbsp; {{test.to_time}}</span>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>{{test.details}}</p>
    </div>
    <div class="col-md-4 d-flex align-items-end justify-content-center flex-row">
      <div class="text-right" style="width: 100%;">
        <a href="https://" target="blank" class="card-btn btn btn-primary btn-sm w-50 m-auto view-btn">JOIN</a>
      </div>
    </div>
  </div>
  <hr>
</div>

{% endfor %}

{% endblock %}