{% extends 'student/base.html' %}
{% block title %}preplacement{% endblock %}
{% block content %}

{% for test in mock_test %}
<div class="mx-auto mt-3 mb-5 bg-white rounded-lg p-3 clear-fix shadow ">
  <h6 class="float-right"><strong>Date : </strong>{{test.date}}</h6>
  <h4 style="text-transform:capitalize">{{test.name}}</h4>
  <div class="row">
    <div class="col-4">
      <p><strong>From : </strong><span class="text-muted">{{test.from_time}}</span></p>
      <p><strong>To : </strong><span class="text-muted">{{test.to_time}}</span></p>
    </div>
    <div class="col-4">
      <p><strong>Placed by : </strong ><span class="text-muted">{{test.adm_id}}</span></p>
      <p><strong>Mock Test : </strong ><a href="{{test.link}}" style="text-decoration: none; cursor: pointer; color: rgba(0, 81, 255, 0.966);">join</a></p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>{{test.details}}</p>
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}