{% extends 'student/base.html' %}
{% block title %} Profile {% endblock %}
{% load static %}

{% block content %}
<style>
    #base {
        padding-top: 2.5rem !important;
    }

    #profile_page {
        padding-left: 2.9rem;
    }

    #nav-tab {
        background-color: #D9FAFF;
        border: none;
        position: fixed;
        width: 69%;
    }

    #profile {
        float: right;
        background-color: #D9FAFF;
        border-radius: 0 0 0 20%;
    }

    #profile_img {
        border-radius: 50%;
        height: 9rem;
    }


    h6,
    h5,
    h4 {
        color: #0F2C44;
    }

    .table td,
    .table th {
        border: none !important;
    }

    .nav-tabs .nav-link {
        border: none !important;
    }

    .grid-profile-container {
        display: grid;
        grid-template-columns: 5fr 2fr;
    }

    .nav-link-tab-a {
        width: 20%;
        text-align: center;
    }

    .grid-personal-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .grid-personal-outercontainer {
        display: grid;
        grid-template-columns: 9fr 1fr;
    }

    .grid-personal-curr-edu {
        text-align: center;
    }

    .card-btn {
        background-color: #00BBF0;
        border: none;
        color: white !important;
    }

    .card-btn:hover {
        background-color: #009ac5;
    }

    @media (max-width: 576px) {}

    @media (min-width: 576px) and (max-width: 991px) {
        #profile_page {
            padding-left: 0rem;
        }

        .grid-profile-container {
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>

<div class="grid-profile-container" id="profile_page">

    <div class="grid-profile-item" style="margin-top: -2px;align-items: center;">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist" style="z-index: 8;">
                <a class="nav-link active nav-link-tab-a" id="home-tab" data-toggle="tab" href="#home" role="tab"
                    aria-controls="home" aria-selected="true">Personal Details</a>


                <a class="nav-link nav-link-tab-a" id="edu-tab" data-toggle="tab" href="#edu" role="tab"
                    aria-controls="edu" aria-selected="false">Education Details</a>


                <a class="nav-link nav-link-tab-a" id="curr-edu-tab" data-toggle="tab" href="#curr-edu" role="tab"
                    aria-controls="curr-edu" aria-selected="false">Current Education Details</a>


                <a class="nav-link nav-link-tab-a" id="certificates-tab" data-toggle="tab" href="#certificates"
                    role="tab" aria-controls="certificates" aria-selected="false">Certificates</a>


                <a class="nav-link nav-link-tab-a" id="exp-tab" data-toggle="tab" href="#exp" role="tab"
                    aria-controls="exp" aria-selected="false">Experience</a>
            </div>
        </nav>

        <div class="m-auto mt-5 pt-5 px-2 w-75" id="details_cards">
            <div class="tab-content profile-tab" id="myTabContent">

                {% include 'student/profile_tabs/personal.html' %}
                {% include 'student/profile_tabs/education.html' %}
                {% include 'student/profile_tabs/current_education.html' %}
                {% include 'student/profile_tabs/experience.html' %}
                {% include 'student/profile_tabs/certificate.html' %}


            </div>
        </div>


    </div>

    <div class="grid-profile-item" style="position: fixed;right: 0;width: 28%;">
        <div class="container text-center" id="profile">
            <img src="{{student_info.profile_photo.url}}" class="mt-3" id="profile_img" alt="" />
            <h4 class="mt-4"><strong>{{name}}</strong></h4>
            <p>Hello, I am currently pursuing BE Information Technology from vidyalankar institute of technology.
                I am interested in Machine Learning field and seeking exciting opportunities related to the same</p>
            <h6>{{student_info.skills|upper}}</h6>
            <h5 class="mb-3"><a href="{{student_info.resume.url}}" target="blank"
                    style="text-decoration: none;color: #00BBF0!important;">Resume</a></h5>

        </div>
    </div>


</div>


{% include 'student/profile_modal.html' %}
<script src="{% static 'js/profile_edu_up.js' %}"></script>
<script src="{% static 'js/profile_exp_up.js' %}"></script>
<script src="{% static 'js/profile_curr_up.js' %}"></script>
<script src="{% static 'js/profile_skills.js' %}"></script>
<script src="{% static 'js/profile_certificate.js' %}"></script>
<script>
    document.getElementById('id_roll_no').value = '{{request.user}}'
    document.getElementById('id_rollNo').value = '{{request.user}}'
    document.getElementById('id_roll_no_curr').value = '{{request.user}}'
    document.getElementById('id_certificate_issued_to').value = '{{request.user}}'

    $(window).ready(function () {
        $("#base").removeClass('container')
        setTimeout(() => {
            $("#msg-alert").hide()
        }, 1000)
    })

</script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}