<!-- edu model -->
<div class="modal fade" id="addedu">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="POST" action="{% url 'addEdu' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_clgname">School/College Name</label>
                        {{edu_form.clg_name}}
                    </div>
                    <div class="mb-3">
                        <label for="id_degree">10th/12th/Diploma</label>
                        {{edu_form.degree}}
                    </div>

                    <div class="mb-3">
                        <label for="id_board">Board</label>
                        {{edu_form.board}}
                    </div>
                    <div class="mb-3">
                        <label for="id_marks">Total Marks</label>
                        {{edu_form.marks}}
                    </div>
                    <div class="mb-3">
                        <label for="id_percentage">Percentage/CGPA</label>
                        {{edu_form.percentage}}
                    </div>

                    <div class="mb-3">
                        <label for="id_gap">Year Drop</label>
                        {{edu_form.gap}}
                    </div>

                    <div id="diploma_div" style="display: none;">
                        <div class="mb-3">
                            <label for="id_gap">Pattern</label>
                            {{edu_form.diploma_pattern}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">Diploma Aggregate% (Marks-Wise)</label>
                            <small class="form-text text-muted mb-2">Diploma Aggregate (Marks-Wise) = ((sum of the marks obtained in all semester/years)/Total Maximum marks)*100</small>
                            {{edu_form.diploma_aggregate_mw}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">Diploma Aggregate% (Percentage-Wise)</label>
                            <small class="form-text text-muted mb-2">Diploma Aggregate (Percentage-Wise) = (sum of the percentage in all semester/years)/(No. of semesters/years)</small>
                            {{edu_form.diploma_aggregate_pw}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">No. Dead KT/S</label>
                            <small class="form-text text-muted mb-2">Enter 0 if no KT</small>
                            {{edu_form.no_of_dead_kt}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="id_startyear">Starting Date</label>
                        {{edu_form.start_year}}
                    </div>
                    <div class="mb-3">
                        <label for="id_endyear">Passing Date</label>
                        {{edu_form.end_year}}
                    </div>
                    <div class="mb-3" hidden>
                        {{edu_form.roll_no}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>




<!-- exp modal -->
<div class="modal fade" id="addexp">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Experience</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="post" action="{% url 'addExp' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_comp_name">Company Name</label>
                        {{exp_form.comp_name}}
                    </div>
                    <div class="mb-3">
                        <label for="id_role">Role</label>
                        {{exp_form.role}}
                    </div>

                    <div class="mb-3">
                        <label for="id_duration">Duration</label>
                        {{exp_form.duration}}
                    </div>
                    <div class="mb-3">
                        <label for="id_start_date">Start Date</label>
                        {{exp_form.start_date}}
                    </div>
                    <div class="mb-3" hidden>
                        {{exp_form.rollNo}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>











<!-- curr edu -->
<div class="modal fade" id="fe_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add FE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="post" action="{% url 'addCurrEdu' %}?year=fe">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_fe_sem1_sgpa">SEM 1 SGPA</label>
                        {{fe_form.fe_sem1_sgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_fe_sem2_sgpa">SEM 2 SGPA</label>
                        {{fe_form.fe_sem2_sgpa}}
                    </div>

                    <div class="mb-3">
                        <label for="id_fe_cgpa">FE CGPA</label>
                        {{fe_form.fe_cgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_kt_FE">KT in FE</label>
                        {{fe_form.kt_FE}}
                    </div>

                    <div hidden>
                        {{fe_form.roll_no_1}}
                    </div>
                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="se_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add SE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form class="" method="post" action="{% url 'addCurrEdu' %}?year=se">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_se_sem3_sgpa">SEM 3 SGPA</label>
                        {{se_form.se_sem3_sgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_se_sem4_sgpa">SEM 4 SGPA</label>
                        {{se_form.se_sem4_sgpa}}
                    </div>

                    <div class="mb-3">
                        <label for="id_se_cgpa">SE CGPA</label>
                        {{se_form.se_cgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_kt_SE">KT in SE</label>
                        {{se_form.kt_SE}}
                    </div>
                    <div class="mb-3">
                        <label for="id_drop_SE">Year Drop between FE AND SE</label>
                        {{se_form.drop_SE}}
                    </div>

                    <div hidden>
                        {{se_form.roll_no_2}}
                    </div>
                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- curr edu -->
<div class="modal fade" id="te_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add TE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form class="" method="post" action="{% url 'addCurrEdu' %}?year=te">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_te_sem5_sgpa">SEM 5 SGPA</label>
                        {{te_form.te_sem5_sgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_te_sem6_sgpa">SEM 6 SGPA</label>
                        {{te_form.te_sem6_sgpa}}
                    </div>

                    <div class="mb-3">
                        <label for="id_te_cgpa">TE CGPA</label>
                        {{te_form.te_cgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_kt_TE">KT in TE</label>
                        {{te_form.kt_TE}}
                    </div>
                    <div class="mb-3">
                        <label for="id_drop_TE">Year Drop between SE AND TE</label>
                        {{te_form.drop_TE}}
                    </div>
                    <div hidden>
                        {{te_form.roll_no_3}}
                    </div>
                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>
<!-- curr edu -->
<div class="modal fade" id="be_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add BE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="post" action="{% url 'addCurrEdu' %}?year=be">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_be_sem7_sgpa">SEM 7 SGPA</label>
                        {{be_form.be_sem7_sgpa}}
                    </div>
                    <div class="mb-3">
                        <label for="id_be_sem8_sgpa">SEM 8 SGPA</label>
                        {{be_form.be_sem8_sgpa}}
                    </div>

                    <div class="mb-3">
                        <label for="id_be_cgpa">BE CGPA</label>
                        {{be_form.be_cgpa}}
                    </div>

                    <div class="mb-3">
                        <label for="id_kt_BE">KT in BE</label>
                        {{be_form.kt_BE}}
                    </div>
                    <div class="mb-3">
                        <label for="id_drop_BE">Year Drop between TE AND BE</label>
                        {{be_form.drop_BE}}
                    </div>
                    <div hidden>
                        {{be_form.roll_no_4}}
                    </div>
                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>



<!-- certificate modal -->

<div class="modal fade" id="addCertificates">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Certificate</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="POST" action="{% url 'addCertificates' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label >Certificate Name</label>
                        {{certificate_form.certificate_name}}
                    </div>
                    <div class="mb-3">
                        <label >Domain</label>
                        {{certificate_form.domain}}
                    </div>
                    <div class="mb-3">
                        <div class="custom-file">
                            <label class="custom-file-label" id="file-upload-label" for="id_file">Upload Certificate</label>
                            {{certificate_form.file}}
                        </div>
                    </div>
                    
                    <div class="mb-3" style="display: none;">
                        {{certificate_form.certificate_issued_to}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>