<!-- edu model -->
<div class="modal fade" id="addedu">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="POST" action="{% url 'addEdu' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_clgname">School/College Name</label>
                        {{edu_form.clg_name}}
                    </div>
                    <div class="mb-3">
                        <label for="id_degree">10th/12th/Diploma</label>
                        {{edu_form.degree}}
                    </div>

                    <div class="mb-3">
                        <label for="id_board">Board</label>
                        {{edu_form.board}}
                    </div>
                    <div class="mb-3">
                        <label for="id_marks">Total Marks</label>
                        {{edu_form.marks}}
                    </div>
                    <div class="mb-3">
                        <label for="id_percentage">Percentage/CGPA</label>
                        {{edu_form.percentage}}
                    </div>

                    <div class="mb-3">
                        <label for="id_gap">Year Drop</label>
                        {{edu_form.gap}}
                    </div>

                    <div id="diploma_div" style="display: none;">
                        <div class="mb-3">
                            <label for="id_gap">Pattern</label>
                            {{edu_form.diploma_pattern}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">Diploma Aggregate% (Marks-Wise)</label>
                            <small class="form-text text-muted mb-2">Diploma Aggregate (Marks-Wise) = ((sum of the marks obtained in all semester/years)/Total Maximum marks)*100</small>
                            {{edu_form.diploma_aggregate_mw}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">Diploma Aggregate% (Percentage-Wise)</label>
                            <small class="form-text text-muted mb-2">Diploma Aggregate (Percentage-Wise) = (sum of the percentage in all semester/years)/(No. of semesters/years)</small>
                            {{edu_form.diploma_aggregate_pw}}
                        </div>
                        <div class="mb-3">
                            <label for="id_gap">No. Dead KT/S</label>
                            <small class="form-text text-muted mb-2">Enter 0 if no KT</small>
                            {{edu_form.no_of_dead_kt}}
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="id_startyear">Starting Date</label>
                        {{edu_form.start_year}}
                    </div>
                    <div class="mb-3">
                        <label for="id_endyear">Passing Date</label>
                        {{edu_form.end_year}}
                    </div>
                    <div class="mb-3" hidden>
                        {{edu_form.roll_no}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>




<!-- exp modal -->
<div class="modal fade" id="addexp">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Experience</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="post" action="{% url 'addExp' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_comp_name">Company Name</label>
                        {{exp_form.comp_name}}
                    </div>
                    <div class="mb-3">
                        <label for="id_role">Role</label>
                        {{exp_form.role}}
                    </div>

                    <div class="mb-3">
                        <label for="id_duration">Duration</label>
                        {{exp_form.duration}}
                    </div>
                    <div class="mb-3">
                        <label for="id_start_date">Start Date</label>
                        {{exp_form.start_date}}
                    </div>
                    <div class="mb-3" hidden>
                        {{exp_form.rollNo}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>











<!-- curr edu -->
<div class="modal fade" id="currEdu">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add FE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="post" action="{% url 'addCurrEdu' %}">
                    {% csrf_token %}
                    <div style="display: none;">{{curr_education_form.roll_no_curr}}</div>
                    <div class="mb-3">
                        <label for="year">Choose Year</label>
                        <select class="form-control" name="year" id="year">
                            <option selected hidden>------</option>
                            {% if "diploma" not in prev_deg %}
                            <option value="1">First Year</option>
                            {% endif %}
                            <option value="2">Second Year</option>
                            <option value="3">Third Year</option>
                            <option value="4">Fourth Year</option>
                        </select>
                    </div>
                    <div id="1" style="display: none;">
                        <div class="mb-3">
                            <label for="id_sgpi1">SEM1 SGPI</label>
                            {{curr_education_form.sgpi1}}
                        </div>
                        <div class="mb-3">
                            <label for="id_sgpi2">SEM2 SGPI</label>
                            {{curr_education_form.sgpi2}}
                        </div>
                        <div class="mb-3">
                            <label for="id_cgpa1">FE CGPA</label>
                            {{curr_education_form.cgpa1}}
                        </div>
                    </div>
                    <div id="2" style="display: none;">
                        <div class="mb-3">
                            <label for="id_sgpi3">SEM3 SGPI</label>
                            {{curr_education_form.sgpi3}}
                        </div>
                        <div class="mb-3">
                            <label for="id_sgpi4">SEM4 SGPI</label>
                            {{curr_education_form.sgpi4}}
                        </div>
                        <div class="mb-3">
                            <label for="id_cgpa2">SE CGPA</label>
                            {{curr_education_form.cgpa2}}
                        </div>
                    </div>
                    <div id="3" style="display: none;">
                        <div class="mb-3">
                            <label for="id_sgpi5">SEM5 SGPI</label>
                            {{curr_education_form.sgpi5}}
                        </div>
                        <div class="mb-3">
                            <label for="id_sgpi6">SEM6 SGPI</label>
                            {{curr_education_form.sgpi6}}
                        </div>
                        <div class="mb-3">
                            <label for="id_cgpa3">TE CGPA</label>
                            {{curr_education_form.cgpa3}}
                        </div>
                    </div>
                    <div id="4" style="display: none;">
                        <div class="mb-3">
                            <label for="id_sgpi7">SEM7 SGPI</label>
                            {{curr_education_form.sgpi7}}
                        </div>
                        <div class="mb-3">
                            <label for="id_sgpi8">SEM8 SGPI</label>
                            {{curr_education_form.sgpi8}}
                        </div>
                        <div class="mb-3">
                            <label for="id_cgpa4">BE CGPA</label>
                            {{curr_education_form.cgpa4}}
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="my-0" for="id_live_kt">TOTAL NO. OF LIVE KT/S in ENGINEERING</label>
                        <small class="mb-2 form-text">Enter '0', if no live KT</small>
                        {{curr_education_form.live_kt}}
                    </div>
                    <div class="mb-3">
                        <label class="my-0" for="id_dead_kt">TOTAL NO. OF DEAD KT/S in ENGINEERING</label>
                        <small class="mb-2 form-text">Enter '0', if no Dead K</small>
                        {{curr_education_form.dead_kt}}
                    </div>


                    <div class="mb-3" id="drop">
                        <label for="id_drop">ANY DROP IN ENGINEERING COURSE. IF YES, NO. OF YEARS OF DROP</label>
                        {{curr_education_form.drop}}
                    </div>
                    <div style="display: none;">{{curr_education_form.total_grade}}</div>
                    <div style="display: none;">{{curr_education_form.average_sgpi}}</div>
                    
                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>


<!-- certificate modal -->

<div class="modal fade" id="addCertificates">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Certificate</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form method="POST" action="{% url 'addCertificates' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label >Certificate Name</label>
                        {{certificate_form.certificate_name}}
                    </div>
                    <div class="mb-3">
                        <label >Domain</label>
                        {{certificate_form.domain}}
                    </div>
                    <div class="mb-3">
                        <div class="custom-file">
                            <label class="custom-file-label" id="file-upload-label" for="id_file">Upload Certificate</label>
                            {{certificate_form.file}}
                        </div>
                    </div>
                    
                    <div class="mb-3" style="display: none;">
                        {{certificate_form.certificate_issued_to}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
</div>