{% extends 'student/base.html' %}
{% block title %} Profile {% endblock %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <div class="d-flex justify-content-center">
                    <img src="{% static 'images/person.jpg'%}" class="d-flex align-items-center" alt="" />
                </div>
                <form method="post">
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-primary my-3 w-50">update skills</button>
                    </div>
                </form>
            </div>

            <div class="profile-head d-flex flex-column align-items-center mt-3">
                <h5><strong>{{name}}</strong></h5>
                <h6><strong>Branch: </strong>{{branch}} {{div}}</h6>
                <h6><strong>Roll Number: </strong>{{rollNo}}</h6>
                <h6><strong>Skills: </strong>{{student_info.skills}}</h6>
            </div>
        </div>

        <div class="col-md-8" id="info-col">
            <ul class="nav nav-tabs mt-5 d-flex justify-content-center" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Personal Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="edu-tab" data-toggle="tab" href="#edu" role="tab" aria-controls="edu"
                        aria-selected="false">Education Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="curr-edu-tab" data-toggle="tab" href="#curr-edu" role="tab"
                        aria-controls="curr-edu" aria-selected="false">Current Education Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#exp" role="tab"
                        aria-controls="profile" aria-selected="false">Experience</a>
                </li>
            </ul>

            <div class="tab-content profile-tab" id="myTabContent">
                {% include 'student/profile_tabs/personal.html' %}
                {% include 'student/profile_tabs/education.html' %}
                {% include 'student/profile_tabs/current_education.html' %}
                {% include 'student/profile_tabs/experience.html' %}


            </div>
        </div>
    </div>
</div>


{% include 'student/profile_modal.html' %}
<script src="{% static 'js/profile_edu_up.js' %}"></script>
<script src="{% static 'js/profile_exp_up.js' %}"></script>
<script src="{% static 'js/profile_curr_up.js' %}"></script>
<script>
    let form_fields = document.getElementsByTagName('input')
    document.getElementById('id_degree').classList = 'form-control';
    document.getElementById('id_roll_no').value = '{{request.user}}'
    document.getElementById('id_rollNo').value = '{{request.user}}'
    for(let i=1; i<=4; i++){
        document.getElementById('id_roll_no_'+String(i)).value = '{{request.user}}'   
    }
    for (let field in form_fields) {
        form_fields[field].className += ' form-control'
    }
    document.getElementById('id_percentage').type = 'text';
    document.getElementById('id_start_year').type = 'date';
    document.getElementById('id_start_date').type = 'date';
    document.getElementById('id_end_year').type = 'date';
</script>
{% endblock %}