<!-- edu model -->
<div class="modal fade" id="addedu">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Education</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                <form class="" method="POST" action="{% url 'addEdu' %}">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_clgname">School/College Name</label>
                        {{edu_form.clg_name}}
                    </div>
                    <div class="mb-3">
                        <label for="id_degree">10th/12th/Diploma</label>
                        {{edu_form.degree}}
                    </div>
                    
                    <div class="mb-3">
                        <label for="id_board">Board</label>
                        {{edu_form.board}}
                    </div>
                    <div class="mb-3">
                        <label for="id_percentage">Percentage/CGPA</label>
                        {{edu_form.percentage}}
                    </div>
                    <div class="mb-3">
                        <label for="id_startyear">Starting Date</label>
                        {{edu_form.start_year}}
                    </div>
                    <div class="mb-3">
                        <label for="id_endyear">Ending Date</label>
                        {{edu_form.end_year}}
                    </div>
                    <div class="mb-3" hidden>
                        {{edu_form.roll_no}}
                    </div>

                    <button class="btn btn-primary w-100">
                        Add
                    </button>
                </form>
            </div>
            </div>

        </div>
    </div>
</div>




<!-- exp modal -->
<div class="modal fade" id="addexp">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add Experience</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                    <form class="" method="post" action="{% url 'addExp' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="id_clgname">Company Name</label>
                            {{exp_form.comp_name}}
                        </div>
                        <div class="mb-3">
                            <label for="id_degree">Role</label>
                            {{exp_form.role}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_board">Duration</label>
                            {{exp_form.duration}}
                        </div>
                        <div class="mb-3">
                            <label for="id_percentage">Start Date</label>
                            {{exp_form.start_date}}
                        </div>
                        <div class="mb-3" hidden>
                            {{exp_form.rollNo}}
                        </div>

                        <button class="btn btn-primary w-100">
                            Add
                        </button>
            </div>

        </div>
    </div>
</div>


<!-- curr edu -->
<div class="modal fade" id="fe_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add FE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_fe_sem1_sgpa">SEM 1 SGPA</label>
                            {{fe_form.fe_sem1_sgpa}}
                        </div>
                        <div class="mb-3">
                            <label for="id_fe_sem2_sgpa">SEM 2 SGPA</label>
                            {{fe_form.fe_sem2_sgpa}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_fe_cgpa">FE CGPA</label>
                            {{fe_form.fe_cgpa}}
                        </div>

                        <div hidden>
                            {{fe_form.roll_no_1}}
                        </div>
                        <button class="btn btn-primary w-100">
                            Add
                        </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="se_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add SE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_se_sem3_sgpa">SEM 3 SGPA</label>
                            {{se_form.se_sem3_sgpa}}
                        </div>
                        <div class="mb-3">
                            <label for="id_se_sem4_sgpa">SEM 4 SGPA</label>
                            {{se_form.se_sem4_sgpa}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_se_cgpa">SE CGPA</label>
                            {{se_form.se_cgpa}}
                        </div>

                        <div hidden>
                            {{se_form.roll_no_2}}
                        </div>
                        <button class="btn btn-primary w-100">
                            Add
                        </button>
            </div>

        </div>
    </div>
</div>
<!-- curr edu -->
<div class="modal fade" id="te_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add TE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_te_sem5_sgpa">SEM 5 SGPA</label>
                            {{te_form.te_sem5_sgpa}}
                        </div>
                        <div class="mb-3">
                            <label for="id_te_sem6_sgpa">SEM 6 SGPA</label>
                            {{te_form.te_sem6_sgpa}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_te_cgpa">TE CGPA</label>
                            {{te_form.te_cgpa}}
                        </div>

                        <div hidden>
                            {{te_form.roll_no_3}}
                        </div>
                        <button class="btn btn-primary w-100">
                            Add
                        </button>
            </div>

        </div>
    </div>
</div>
<!-- curr edu -->
<div class="modal fade" id="be_modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Add BE Details</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body px-5 my-2">
                    <form class="" method="post" action="">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="id_be_sem7_sgpa">SEM 7 SGPA</label>
                            {{be_form.be_sem7_sgpa}}
                        </div>
                        <div class="mb-3">
                            <label for="id_be_sem8_sgpa">SEM 8 SGPA</label>
                            {{be_form.be_sem8_sgpa}}
                        </div>
                        
                        <div class="mb-3">
                            <label for="id_be_cgpa">BE CGPA</label>
                            {{be_form.be_cgpa}}
                        </div>

                        <div hidden>
                            {{be_form.roll_no_4}}
                        </div>
                        <button class="btn btn-primary w-100">
                            Add
                        </button>
            </div>

        </div>
    </div>
</div>