{% extends 'student/base.html' %}
{% block title %} Profile {% endblock %}
{% load static %}

{% block content %}
<style>
    #base{
        padding-top: 2.6rem!important;
    }
    #profile_page{
        padding-left: 3.6rem;
    }
    #myTab{
        background-color:#D9FAFF;
    }
    #profile{
        float: right;
        background-color:#D9FAFF;
        border-radius: 0 0 0 20%;
    }
    #profile_img{
        border-radius: 50%;
        height: 9rem;
    }
   li{
       margin-left: 0;
       padding-left: 0.1rem;
       padding-right: 0.1rem;
   }
   h6,h5,h4{
       color: #0F2C44;
   }
</style>

<div class="row" id="profile_page">

    <div class="col-md-8 px-0">
        <ul class="nav nav-tabs  d-flex justify-content-center mb-5" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Personal Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="edu-tab" data-toggle="tab" href="#edu" role="tab" aria-controls="edu"
                    aria-selected="false">Education Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="curr-edu-tab" data-toggle="tab" href="#curr-edu" role="tab"
                    aria-controls="curr-edu" aria-selected="false">Current Education Details</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="certificates-tab" data-toggle="tab" href="#certificates" role="tab"
                    aria-controls="certificates" aria-selected="false">Certificates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="exp-tab" data-toggle="tab" href="#exp" role="tab" aria-controls="exp"
                    aria-selected="false">Experience</a>
            </li>
            
        </ul>
        <div class="m-auto mt-5 px-2" id="details_cards">
            <div class="tab-content profile-tab" id="myTabContent">
                {% include 'student/profile_tabs/personal.html' %}
                {% include 'student/profile_tabs/education.html' %}
                {% include 'student/profile_tabs/current_education.html' %}
                {% include 'student/profile_tabs/experience.html' %}
                {% include 'student/profile_tabs/certificate.html' %}
    
    
            </div>
        </div>
    </div>

    <div class="col-md-4 px-0">
        <div class="container text-center" id="profile">
            <img src="{{student_info.profile_photo.url}}" id="profile_img" alt="" />
            <h4 class="mt-4"><strong>{{name}}</strong></h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis error reiciendis excepturi rerum voluptatibus natus rem consectetur illum voluptatum nostrum doloremque vitae laudantium ea, repellendus tenetur vero in modi hic!</p>
            <h6>{{student_info.skills|upper}}</h6>
            <h5><a href="{{student_info.resume.url}}" target="blank" style="text-decoration: none;color: #00BBF0!important;">Resume</a></h5>
            
        </div>
    </div>

    
</div>


{% include 'student/profile_modal.html' %}
<script src="{% static 'js/profile_edu_up.js' %}"></script>
<script src="{% static 'js/profile_exp_up.js' %}"></script>
<script src="{% static 'js/profile_curr_up.js' %}"></script>
<script src="{% static 'js/profile_skills.js' %}"></script>
<script src="{% static 'js/profile_certificate.js' %}"></script>
<script>
    document.getElementById('id_roll_no').value = '{{request.user}}'
    document.getElementById('id_rollNo').value = '{{request.user}}'
    document.getElementById('id_roll_no_curr').value = '{{request.user}}'
    document.getElementById('id_certificate_issued_to').value = '{{request.user}}'

    $(window).ready(function(){
        $("#base").removeClass('container')
    })
</script>
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}