<style>
    .card-btn {
        background-color: #00BBF0;
        border: none;
        color: white !important;
    }

    .card-btn:hover {
        background-color: #009ac5;
    }
</style>
<div class="card card-body mb-3" style="border: none;">
    <form action="{% url 'updateExp' id %}" method="POST">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token_value}}">
        
        <div class="card-text">
            <table class="table  table-responsive-sm">
                <tbody>
                    <tr>
                        <td><strong>Company Name</strong></td>
                        <td>{{form.comp_name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Role</strong></td>
                        <td>{{form.role}}</td>
                    </tr>
                    <tr>
                        <td><strong>Duration</strong></td>
                        <td>{{form.duration}}</td>
                    </tr>
                    <tr>
                        <td><strong>Start Date</strong></td>
                        <td>{{form.start_date}}</td>
                    </tr>
                    <div hidden>{{form.rollNo}}</div>
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="card-btn btn btn-primary btn-sm w-25">Update</button>
        </div>
    </form>
</div>

<script>
    let form_fields_exp = document.getElementsByTagName('input')
    document.getElementById('id_degree').classList = 'form-control';
    for (let field in form_fields_exp) {
        form_fields_exp[field].className += ' form-control'
    }
    document.getElementById('id_start_date').type = 'date';
</script>