
.mob-tab {
display: none;
}

@media (max-width: 576px) {
.lap-tab {
    display: none;
}

.mob-tab {
    display: block;
}

}

@media (min-width: 576px) and (max-width: 991px) {
#filter_list {
    width: 87%;
    margin: auto;
}

.comp_name_div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

#mob-filter-icon {
    display: block !important;
    top: 8rem;
}

.close-filter {
    display: block !important;
}

.view-btn {
    width: 60% !important;
}
}
