
.sort_by_date p {
    cursor: pointer;
    color: #0F2C44;
}

.form-control {
    border-radius: 12px;
    background-color: #eeeeee !important;
}

.form-control:focus {
    border-color: none;
    box-shadow: none;
}

.custom-select {
    background-color: #eeeeee !important;
    border-radius: 12px;
}

.custom-select:focus {
    border-color: none;
    box-shadow: none;
}

input[type='range']::-webkit-slider-thumb {
    background: #00BBF0;
}

.btn {
    border: none;
}

.btn:hover {
    background-color: #009ac5 !important;
    border: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}


#filter_list {
    width: 87%;
    margin-left: 266px;
}

#filters_div {
    position: fixed;
    left: 0;
    margin-top: -8px;
    margin-left: 46px;
    color: #0F2C44;
}

.card-btn {
    background-color: #00BBF0;
    border: none;
    color: white !important;
}

.card-btn:hover {
    background-color: #009ac5;
}

.grid-container-mob {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item-mob {
    text-align: center;
}

.card-fieldset {
    position: absolute;
    top: -13px;
    left: 0;
    right: 0;
    font-size: 1.1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#mobile_View {
    display: none;
}


@media (max-width: 576px) {
    #filters_div {
        display: none;
    }

    #mobile_View {
        display: block;
    }

    #filter_list {
        display: none;
    }

    #filters_div {
        display: none;
        position: fixed;
        left: 0;
        z-index: 30;
        margin-left: 0px;
    }

    .filter-card {
        padding: 0px !important;
        margin-top: -2rem !important;
    }

    .close-filter {
        display: block !important;
        top: 2.9rem !important;
    }

    .filter-card-text {
        margin-bottom: 0px !important;
    }
}


@media (min-width: 576px) and (max-width: 991px) {
    #filters_div {
        display: none;
        position: fixed;
        left: 0;
        z-index: 30;
        margin-left: 0px;
    }

    #filter_list {
        width: 87%;
        margin: auto;
    }

    .view-btn {
        width: 60% !important;
    }

    .comp_name_div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    #mob-filter-icon {
        display: block !important;
        top: 8rem;
    }

    .close-filter {
        display: block !important;
    }


}
