<div class="tab-pane fade show mt-3" id="curr-edu" role="tabpanel" aria-labelledby="curr-edu-tab">
    <h4 class="h4 text-center mb-3">Current Educations</h4>
    <div class="current_edu_cards">
        {% if fe %}
        <div class="card card-body mb-2" id="fe_card">
            <h4 class="card-title text-center">FE Details</h4>
            <div class="card-text">
                <table class="table table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>SEM 1 SGPA
                                </strong>
                            </td>
                            <td>{{fe.0.fe_sem1_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>SEM 2 SGPA</strong></td>
                            <td>{{fe.0.fe_sem2_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>FE CGPA</strong></td>
                            <td>{{fe.0.fe_cgpa}}</td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mr-2"><i data-id="{{fe.0.id}}" data-year="fe" class="fe_update fas fa-edit" style="color: black;cursor: pointer;"></i></p>
                <a href="{% url 'deleteCurrEdu' fe.0.id %}?year=fe" class="ml-2" style="color: black;"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endif %}
        {% if se %}
        <div class="card card-body mb-2" id="se_card">
            <h4 class="card-title text-center">SE Details</h4>
            <div class="card-text">
                <table class="table table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>SEM 3 SGPA
                                </strong>
                            </td>
                            <td>{{se.0.se_sem3_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>SEM 4 SGPA</strong></td>
                            <td>{{se.0.se_sem4_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>SE CGPA</strong></td>
                            <td>{{se.0.se_cgpa}}</td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mr-2"><i data-id="{{se.0.id}}" data-year="se" class="se_update fas fa-edit" style="color: black;cursor: pointer;"></i></p>
                <a href="{% url 'deleteCurrEdu' se.0.id %}?year=se" class="ml-2" style="color: black;"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endif %}
        {% if te %}
        <div class="card card-body mb-2" id="te_card">
            <div class="card-text">
                <h4 class="card-title text-center">TE Details</h4>
                <table class="table table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>SEM 5 SGPA
                                </strong>
                            </td>
                            <td>{{te.0.te_sem5_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>SEM 6 SGPA</strong></td>
                            <td>{{te.0.te_sem6_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>TE CGPA</strong></td>
                            <td>{{te.0.te_cgpa}}</td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mr-2"><i data-id="{{te.0.id}}" data-year="te" class="te_update fas fa-edit" style="color: black;cursor: pointer;"></i></p>
                <a href="{% url 'deleteCurrEdu' te.0.id %}?year=te" class="ml-2" style="color: black;"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endif %}
        {% if be %}
        <div class="card card-body mb-2" id="be_card">
            <h4 class="card-title text-center">BE Details</h4>
            <div class="card-text">
                <table class="table table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>SEM 7 SGPA
                                </strong>
                            </td>
                            <td>{{be.0.be_sem7_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>SEM 8 SGPA</strong></td>
                            <td>{{be.0.be_sem8_sgpa}}</td>
                        </tr>
                        <tr>
                            <td><strong>BE CGPA</strong></td>
                            <td>{{be.0.be_cgpa}}</td>
                        </tr>
                
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mr-2"><i data-id="{{be.0.id}}" data-year="be" class="be_update fas fa-edit" style="color: black;cursor: pointer;"></i></p>
                <a href="{% url 'deleteCurrEdu' be.0.id %}?year=be" class="ml-2" style="color: black;"><i class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endif %}
    </div>

    <center>
        {% if not fe %}
        <div class="border p-2 my-4 btn btn-secondary" data-toggle="modal" data-target="#fe_modal">Add
            FE Details</div>
        {% elif not se %}
        <div class="border p-2 my-4 btn btn-secondary" data-toggle="modal" data-target="#se_modal">Add
            SE Details</div>
        {% elif not te %}
        <div class="border p-2 my-4 btn btn-secondary" data-toggle="modal" data-target="#te_modal">Add
            TE Details</div>
        {% elif not be %}
        <div class="border p-2 my-4 btn btn-secondary" data-toggle="modal" data-target="#be_modal">Add
            BE Details</div>

        {% endif %}

    </center>
</div>