{% load custom_tags %}
<div class="tab-pane fade" id="edu" role="tabpanel" aria-labelledby="edu-tab">
    {% if edu_list.count < 2 %} 
    <div class="alert alert-danger mt-2" role="alert">
        <ol>
            <li>Add 10th details</li>
            <li>Add 12th/Diploma details</li>
        </ol>
    </div>
    {% endif %}
    
    <h4 class="h4 text-center my-3">Previous Educations</h4>
    <div id="edu_cards">
        {% for edu in edu_list%}
        <div class="card card-body mb-3">
            <div class="card-text">
                <table class="table table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>
                                <strong>
                                    {% if edu.degree == '10'%}
                                    School
                                    {% else %}
                                    College
                                    {% endif %}
                                </strong>
                            </td>
                            <td>{{edu.clg_name}}</td>
                        </tr>
                        <tr>
                            <td><strong>Degree</strong></td>
                            <td>{{edu.degree}}</td>
                        </tr>
                        <tr>
                            <td><strong>Board</strong></td>
                            <td>{{edu.board}}</td>
                        </tr>
                        <tr>
                            <td><strong>Year Drop</strong></td>
                            <td>{{edu.gap}} 
                                {% if edu.gap|to_int <= 1  %}
                                Year
                                {% else %}
                                Years
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Marks</strong></td>
                            <td>{{edu.marks}}</td>
                        </tr>
                        <tr>
                            <td><strong>Percentage/CGPA</strong></td>
                            <td>{% if edu.percentage > 12 %}
                                {{edu.percentage}}%
                                {% else %}
                                {{edu.percentage}} CGPA ({% marks_to_percentage edu.marks edu.no_of_subject %} %)
                                {% endif %}
                            </td>
                        </tr>
                        {% if edu.degree == 'diploma' %}
                        <div id="diploma">
                            <tr>
                                <td><strong>Pattern</strong></td>
                                <td>{{edu.diploma_pattern}}</td>
                            </tr>
                            <tr>
                                <td><strong>Aggregate (marks-wise)</strong></td>
                                <td>{{edu.diploma_aggregate_mw}}</td>
                            </tr>
                            <tr>
                                <td><strong>Aggregate (percentage-wise)</strong></td>
                                <td>{{edu.diploma_aggregate_pw}}</td>
                            </tr>
                            <tr>
                                <td><strong>No. of Dead KT/S</strong></td>
                                <td>{{edu.no_of_dead_kt}}</td>
                            </tr>
                        </div>
                        {% endif %}
                        <tr>
                            <td><strong>Starting Year</strong></td>
                            <td>{{edu.start_year}}</td>
                        </tr>
                        <tr>
                            <td><strong>Passing Year</strong></td>
                            <td>{{edu.end_year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-center">
                <p class="mr-2"><i data-id="{{edu.id}}" class="edu_update fas fa-edit"
                        style="color: black;cursor: pointer;"></i></p>
                <a href="{% url 'deleteEdu' edu.id %}" class="ml-2" style="color: black;"><i
                        class="fas fa-trash-alt"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if edu_list.count < 2 %} <center>
        <div class="border p-2 my-4 btn btn-secondary" data-toggle="modal" data-target="#addedu">Add
            Education</div>
        </center>
        {% endif %}

</div>