    <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div>
            <div class="card card-body">
                <div class="card-text">
                    <table class="table table-hover table-responsive-sm">
                        <tbody>
                            <tr>
                                <td><strong>Username</strong></td>
                                <td>{{request.user.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email</strong></td>
                                <td>{{request.user.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <td>{{student_info.phone}}</td>
                            </tr>
                            <tr>
                                <td><strong>Year Of Joining</strong></td>
                                <td>{{yearOfJoining}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
