    <div class="tab-pane fade show active mt-3" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div>
            <div class="card card-body">
                <div class="card-text">
                    <table class="table table-hover table-responsive-sm">
                        <tbody>
                            <tr>
                                <td><strong>Username</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{request.user.username}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email (vit.edu.in)</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{request.user.email}}</td>
                            </tr>
                            <tr>
                                <td><strong>Email (@gmail.com)</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.gmail}}</td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.phone}}</td>
                            </tr>
                            <tr>
                                <td><strong>Residence Phone Number</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.residence_phone}}</td>
                            </tr>
                            <tr>
                                <td><strong>Age</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.age}}</td>
                            </tr>
                            <tr>
                                <td><strong>Gender</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.gender}}</td>
                            </tr>
                            <tr>
                                <td><strong>Corresponding Address</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.corresponding_address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Permanent Address</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.permanent_address}}</td>
                            </tr>
                            <tr>
                                <td><strong>Date Of Birth</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.date_of_birth}}</td>
                            </tr>
                            
                            <tr>
                                <td><strong>Year Of Joining</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{yearOfJoining}}</td>
                            </tr>
                            <tr>
                                <td><strong>Year Of Graduation</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.year_of_graduation}}</td>
                            </tr>
                            <tr>
                                <td><strong>Pan Card Number</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.pan_card_no}}</td>
                            </tr>
                            <tr>
                                <td><strong>Adhar Card Number</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.aadhar_no}}</td>
                            </tr>
                            <tr>
                                <td><strong>Passport Number</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.passport_no}}</td>
                            </tr>
                            <tr>
                                <td><strong>Disability</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.disability}}</td>
                            </tr>
                            <tr>
                                <td><strong>Type of Disability</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.type_of_disability}}</td>
                            </tr>
                            <tr>
                                <td><strong>Father Name</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.father_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Father's Occupation</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.father_occupation}}</td>
                            </tr>
                            <tr>
                                <td><strong>Mother Name</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.mother_name}}</td>
                            </tr>
                            <tr>
                                <td><strong>Mother's Occupation</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.mother_occupation}}</td>
                            </tr>
                            <tr>
                                <td><strong>Co Curriculum Activities</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.co_curriculum_activities}}</td>
                            </tr>
                            <tr>
                                <td><strong>Extra Curriculum Activities</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.extra_curriculum_activities}}</td>
                            </tr>
                            <tr>
                                <td><strong>Hobbies</strong></td>
                                <td></td>
                                <td></td>
                                <td>{{student_info.hobbies}}</td>
                            </tr>
                            <!-- <tr>
                                <td><strong>Facebook</strong></td>
                                <td><a href="{{student_info.facebook}}" style="text-decoration: none;">visit</a></td>
                            </tr>
                            <tr>
                                <td><strong>Github</strong></td>
                                <td><a href="{{student_info.githib}}" style="text-decoration: none;">visit</a></td>
                            </tr>
                            <tr>
                                <td><strong>Linkdin</strong></td>
                                <td><a href="{{student_info.linkdin}}" style="text-decoration: none;">visit</a></td>
                            </tr> -->
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
