{% autoescape off %}

Dear Mr/Ms {{student.roll_no}},
I extend my gratitude to you for offering me the position of {{job.domain}} in {{job.comp_name}}. I am delighted to
accept your offer and look forward to commencing work with your company from {{job.start_date}}.
As we discussed previously, my annual salary will be {{job.sal}} and health and insurance benefits will be provided for
me and my family from the second month onwards.Kindly let me know if there is any information or documents that I have
yet to submit to you. I hope to complete all the formalities prior to my joining so that I can start my work
efficiently.I thank you again for providing me with this wonderful opportunity. I am excited to be a part of your team
and make my notable contribution to it.

Yours Sincerely,

Placement Cell


{% endautoescape %}