{% extends 'placement/base.html' %}
{% load static %}
{% block title %} Details {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img">
                <img src="{% static 'images/person.jpg'%}" alt="" />
                <form method="post">
                    <button type="submit" class="profile-edit-btn btn btn-outline-primary my-3">update skills</button>
                </form>
            </div>
        </div>


        <div class="col-md-8">
            <div class="profile-head">
                <h5><strong>{{name}}</strong></h5>
                <h6><strong>Branch: </strong>{{branch}} {{div}}</h6>
                <h6><strong>Roll Number: </strong>{{rollNo}}</h6>
                <h6><strong>Skills: </strong>{{student.skills}}</h6>

                <ul class="nav nav-tabs mt-5 d-flex justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Personal Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edu-tab" data-toggle="tab" href="#edu" role="tab" aria-controls="edu"
                            aria-selected="false">Education Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#exp" role="tab"
                            aria-controls="profile" aria-selected="false">Experience</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4" id="link-col">
            <div class="profile-work">
                <p>LINK</p>
                <a href="#"><i class="fas fa-globe"></i> Personal Website</a><br>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a><br>
                <a href="#"><i class="fab fa-github"></i> GitHub</a><br>
            </div>
        </div>

        <div class="col-md-8" id="info-col">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="card card-body">
                        <table class="table table-hover">
                            <tbody>
                                <tr>
                                    <td><strong>Username</strong></td>
                                    <td>{{name}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Email</strong></td>
                                    <td>{{user.email}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Phone Number</strong></td>
                                    <td>{{student.phone}}</td>
                                </tr>
                                <tr>
                                    <td><strong>Year Of Joining</strong></td>
                                    <td>{{yearOfJoining}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="tab-pane fade" id="edu" role="tabpanel" aria-labelledby="profile-tab">
                <h4 class="h4 text-center mb-3">Previous Educations</h4>
                <div id="edu_cards">
                    {% for edu in edu_list%}
                    <div class="card card-body mb-3">
                        <div class="card-text">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td>{{edu.clg_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Degree</strong></td>
                                        <td>{{edu.degree}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Board</strong></td>
                                        <td>{{edu.board}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Percentage/CGPA</strong></td>
                                        <td>{% if edu.percentage > 12 %}
                                            {{edu.percentage}}%
                                            {% else %}
                                            {{edu.percentage}} CGPA
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Starting Year</strong></td>
                                        <td>{{edu.start_year}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ending Year</strong></td>
                                        <td>{{edu.end_year}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                         
                    </div>
                    {% endfor %}
                </div>
            

            </div>


            <div class="tab-pane fade" id="exp" role="tabpanel" aria-labelledby="profile-tab">
                <h4 class="h4 text-center mb-3">Internship Experiences</h4>
                <div id="exp_cards">
                    {% for exp in exp_list %}
                    <div class="card card-body mb-3">
                        <div class="card-text">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td><strong>Company Name</strong></td>
                                        <td>{{exp.comp_name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Role</strong></td>
                                        <td>{{exp.role}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Duration</strong></td>
                                        <td>{{exp.duration}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Start Date</strong></td>
                                        <td>{{exp.start_date}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                    {% endfor %}
                </div>
                
            </div>

        </div>
    </div>
</div>
</div>



<script src="{% static 'js/profile_edu_up.js' %}"></script>
<script src="{% static 'js/profile_exp_up.js' %}"></script>
<script>
    let form_fields = document.getElementsByTagName('input')
    document.getElementById('id_degree').classList = 'form-control';
    document.getElementById('id_roll_no').value = '{{request.user}}'
    document.getElementById('id_rollNo').value = '{{request.user}}'
    for (let field in form_fields) {
        form_fields[field].className += ' form-control'
    }
    document.getElementById('id_percentage').type = 'text';
    document.getElementById('id_start_year').type = 'date';
    document.getElementById('id_start_date').type = 'date';
    document.getElementById('id_end_year').type = 'date';
</script>

{%endblock%}