{% extends 'placement/base.html' %}
{% load static %}
{% block title %} Placement Cell {% endblock %}
{% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/placement_cell/index.css' %}"> -->
<style>
    .grid-container-1 {
        display: grid;
        grid-template-columns: 6fr 3fr;
    }
</style>

<div class="grid-container-1 mt-3">
    <div class="grid-item-gender-ratio">
        line box
    </div>
    <div class="grid-item-box">
        <div class="row mb-3">
            <div class="col-6">
                <div class="card" id="card-box-1">
                    <h5 class="card-header text-center">Total Student</h5>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-center">
                            <span><strong>{{total_student}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" id="card-box-2">
                    <h5 class="card-header text-center">Total Placed</h5>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-center">
                            <span><strong>{{total_placed}}</strong></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="card" id="card-box-3">
                    <h5 class="card-header text-center">Highest Package</h5>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-center">
                            <span><strong>{{highest_package}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card" id="card-box-4">
                    <h5 class="card-header text-center">Average Package</h5>
                    <div class="card-body">
                        <div class="card-text d-flex justify-content-center">
                            <span><strong>{{average_package}}</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $("#base").removeClass('container')
    $("#base").addClass('mx-5 px-5')
</script>
{% endblock %}