{% extends 'placement/base.html' %}
{% load static %}
{% block title %} Placement Cell {% endblock %}
{% block content %}
<style>
    .grid-container {
        display: grid;
        grid-template-columns: 6fr 3fr;
    }
</style>

<div class="grid-container">
    <div class="grid-graph">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <canvas id="branchChart"></canvas>
        </div>
    </div>
    <div class="grid-card ml-5 mt-2">
        <div class="row">
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Highest Package
                    </div>
                    <div class="card-body">
                        {{highest_package}} PA
                    </div>

                </div>

            </div>
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Average Package
                    </div>
                    <div class="card-body">
                        {{average_package}} PA
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Lowest Package
                    </div>
                    <div class="card-body">
                        {{lowest_package}} PA
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Total Offer
                    </div>
                    <div class="card-body">
                        {{total_offer}}
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Total Student
                    </div>
                    <div class="card-body">
                        {{total_student}}
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="card shadow p-0 mb-5 bg-white rounded">
                    <div class="card-header">
                        Total Placed
                    </div>
                    <div class="card-body">
                        {{total_placed}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="grid-container">
    <div class="grid-graph">
        <div class="card p-2">
            <canvas id="rangeChart"></canvas>
        </div>
    </div>
    <div class="grid-card">
        <div class="card p-2">
            <canvas id="sectorChart"></canvas>
        </div>
    </div>
</div>

<script>
    $("#base").removeClass('container')
    $("#base").addClass('mx-3 px-5 mt-3')

    const data = {
        labels: {{ labelDiv| safe}},
    datasets: [{
        type: 'bar',
        label: 'Male Student',
        data: {{ dataMale| safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(75, 192, 192,0.7)',
        stack: 'Stack 0',
            },
    {
        type: 'bar',
        label: 'Female Student',
        data: {{ dataFemale| safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 132, 0.7)',
        stack: 'Stack 1',
            },
    {
        type: 'bar',
        label: 'Placed Male Student',
        data: {{ dataPMale| safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 52, 0.7)',
        stack: 'Stack 0',
            },
    {
        type: 'bar',
        label: 'Placed Female Student',
        data: {{ dataPFemale| safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(255, 99, 2, 0.7)',
        stack:'Stack 1'
            },
    {
        type: 'line',
        label: 'Line Dataset',
        data: {{ dataDiv| safe}},
        fill: false,
        borderColor: 'rgb(54, 162, 235)',
        stack: 'Stack 1',
            }
    ]
    };

    const config = {
        type: 'bar',
        data: data,
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart - Stacked'
                },
            },
            responsive: true,
            interaction: {
                intersect: false,
            },
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: false,
    ticks: {
      beginAtZero: true,
    },
                }
            }
        }
    };

    var mixedChart = new Chart(
        document.getElementById('branchChart'),
        config
    );

    const data1 = {
        labels: {{ labelCTC| safe}},
    datasets: [{
        type: 'bar',
        label: 'CTC Range',
        data: {{ ctc| safe}},
        borderColor: 'rgb(255, 99, 132)',
        backgroundColor: 'rgba(75, 192, 192,0.7)'
        }]
    };

    const config1 = {
        type: 'bar',
        data: data1,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    };

    var rangeChart = new Chart(
        document.getElementById('rangeChart'),
        config1
    );


    const data2 = {
        labels: {{ labelSector| safe}},
    datasets: [{
        label: 'My First Dataset',
        data: {{ sectorCount| safe}},
        backgroundColor: [
        'rgb(255, 99, 132)',
        'rgb(54, 162, 235)',
        'rgb(255, 205, 86)',
        'rgb(255, 205, 816)',
        'rgb(255, 205, 186)',
        'rgb(255, 99, 232)',
        'rgb(54, 162, 135)',
        'rgb(255, 205, 186)',
        'rgb(255, 205, 816)',
        'rgb(255, 225, 86)',
        'rgb(255, 94, 132)',
        'rgb(54, 16, 235)',
        'rgb(255, 05, 86)',
        'rgb(255, 105, 816)',
        'rgb(255, 205, 83)',
        'rgb(255, 205, 16)',

    ],
        hoverOffset: 4
        }]
    };
    const config2 = {
        type: 'doughnut',
        data: data2,
    };

    var sectorChart = new Chart(
        document.getElementById('sectorChart'),
        config2
    );

</script>
{% endblock %}