{% load static %}
<style>
  .nav-links-item {
    color: #0F2C44;
  }

  a {
    color: #0F2C44 !important;
    text-decoration: none;
  }

  #nav {
    transition: all 10s ease-in-out;
  }

  .nav-li:hover {
    background-color: white;
  }

  .fullNav {
    background-color: #D9FAFF;
    width: 300px;
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 9;
    display: none;
  }

  #extendedNav li a {
    /* font-size: 20px; */
    color: #0F2C44;
    width: 100%;
    text-decoration: none;
  }

  .nav-item-img {
    width: 30px;
    height: 30px;
  }

  .padding-left-6 {
    padding-left: 6.6rem;
  }

  .grid-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .grid-nav-item {
    float: left;
  }

  .grid-nav-item1 {
    float: left;
  }

  #mob-profile-nav {
    display: none;
  }

  @media (max-width: 576px) {
    .side-nav {
      display: none;

    }

    #mob-profile-nav {
      display: block;
    }
  }

  @media (min-width: 576px) and (max-width: 991px) {
    .side-nav {
      display: none;

    }

    #mob-profile-nav {
      display: block;
    }
  }
</style>

<nav class="side-nav" style="max-width: 16.666667%; height: 100vh; background-color: #D9FAFF;position: fixed; left: 0;"
  id="nav">
  <ul style="list-style: none;" class="mt-5 p-0 pt-3">

    <li class="nav-li nav-links-item mb-3 p-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="iconify" data-icon="ci:dashboard" data-width="30" data-height="30"></span>
        </div>
      </div>
    </li>

    <li class="nav-li nav-links-item mb-3 p-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="iconify" data-icon="ph:student" data-width="30" data-height="30"></span>
        </div>
      </div>
    </li>


    <li class="nav-li nav-links-item mb-3 p-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="{% static 'images/jobs.png' %}" class="nav-item-img" alt="img">
        </div>
      </div>
    </li>

    <li class="nav-li nav-links-item mb-3 p-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <img src="{% static 'images/internship.png' %}" class="nav-item-img" alt="img">
        </div>
      </div>
    </li>
    <li class="nav-li nav-links-item mb-3 p-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <span class="iconify" data-icon="icon-park-outline:market-analysis" data-width="30" data-height="30"></span>
        </div>
      </div>
    </li>


  </ul>
</nav>

<nav class="fullNav" id="desktop" style="overflow-y: scroll;">
  <ul style="list-style: none;" class="mt-5 p-0 pt-3" id="extendedNav">

    <li class="nav-li nav-links-item mb-3 p-2"><a href="{% url 'placementIndex' %}">
        <div class="grid-nav">
          <div class="grid-nav-item">
            <span class="iconify" data-icon="ci:dashboard" data-width="30" data-height="30"></span>
          </div>
          <div class="grid-nav-item1">
            <strong class="pl-1">Dashboard</strong>
          </div>
        </div>
      </a>
    </li>


    <li class="nav-li nav-links-item p-2 collapsed text-truncate" href="#student-sub" data-toggle="collapse"
      data-target="#student-sub">
      <div class="grid-nav">
        <div class="grid-nav-item">
          <span class="iconify" data-icon="ph:student" data-width="30" data-height="30"></span>
        </div>
        <div class="grid-nav-item1">
          <span>
            <strong class="pl-1">Students</strong>
            <i class="fa fa-caret-down" style="float:right;padding-right:1.2rem"></i>
          </span>
        </div>
      </div>

    </li>


    <div class="collapse" id="student-sub" aria-expanded="false">
      <ul class="d-flex flex-column nav p-0" style="padding-left: 1rem;">
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'student_details' %}"><span>All Students</span></a>
        </li>
        <li class="nav-li  nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>Placed Students</span></a>
        </li>
      </ul>

    </div>


    <li class="nav-li nav-links-item p-2 mt-3 collapsed text-truncate" href="#job-submenu" data-toggle="collapse"
      data-target="#job-submenu">
      <div class="grid-nav">
        <div class="grid-nav-item">
          <img src="{% static 'images/jobs.png' %}" class="nav-item-img text-center" alt="img">
        </div>
        <div class="grid-nav-item1">
          <span>
            <strong class="pl-1">Jobs</strong>
            <i class="fa fa-caret-down" style="float:right;padding-right:1.2rem"></i>
          </span>
        </div>
      </div>

    </li>
    <div class="collapse" id="job-submenu" aria-expanded="false">
      <ul class="d-flex flex-column nav p-0" style="padding-left: 1rem;">
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'add_job' %}"><span>Add Job</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'recruiting' %}"><span>All Jobs</span></a>
        </li>
        <li class="nav-li  nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'recruited' %}"><span>Recruited</span></a>
        </li>
      </ul>

    </div>



    <li class="nav-li nav-links-item p-2 mt-3 collapsed text-truncate" href="#int-submenu" data-toggle="collapse"
      data-target="#int-submenu">
      <div class="grid-nav">
        <div class="grid-nav-item">
          <img src="{% static 'images/internship.png' %}" class="nav-item-img" alt="img">
        </div>
        <div class="grid-nav-item1">
          <span>
            <strong class="pl-1">Internships</strong>
            <i class="fa fa-caret-down" style="float:right;padding-right:1.2rem"></i>
          </span>
        </div>
      </div>

    </li>
    <div class="collapse" id="int-submenu" aria-expanded="false">
      <ul class="d-flex flex-column nav p-0" style="padding-left: 1rem;">
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'add_intership' %}"><span>Add Internship</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>All Internships</span></a>
        </li>

      </ul>

    </div>


    <li class="nav-li nav-links-item p-2 mt-3 collapsed text-truncate" href="#analysis-submenu" data-toggle="collapse"
      data-target="#analysis-submenu">
      <div class="grid-nav">
        <div class="grid-nav-item">
          <span class="iconify" data-icon="icon-park-outline:market-analysis" data-width="30" data-height="30"></span>
        </div>
        <div class="grid-nav-item1">
          <span>
            <strong class="pl-1">Analysis</strong>
            <i class="fa fa-caret-down" style="float:right;padding-right:1.2rem"></i>
          </span>
        </div>
      </div>

    </li>
    <div class="collapse" id="analysis-submenu" aria-expanded="false">
      <ul class="d-flex flex-column nav p-0" style="padding-left: 1rem;">
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href="{% url 'sector' %}"><span>Sector Wise</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>Company Wise</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>CTC Range</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>Sex Ratio</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>Previous Years Placement</span></a>
        </li>
        <li class="nav-li nav-item">
          <a class="nav-link pt-1 padding-left-6" href=""><span>Target</span></a>
        </li>

      </ul>

    </div>




  </ul>
</nav>

<script>
  $(document).ready(function () {
    $("#nav").mouseover(function () {
      $("#desktop").show();
      $("#desktop").mouseleave(function () {
        $("#desktop").hide();
      })
    })

  })

</script>