{%extends "placement/base.html" %}
{% load static %}
{% block title %} Recruiting {% endblock %}
{% block content %}

<div class="btn-group btn-group-toggle float-right mb-4" data-toggle="buttons">
    <label class="btn btn-secondary active " id="all">
        <input type="radio" name="options" autocomplete="off" checked value="blog"> All
    </label>
    <label class="btn btn-secondary " id="current">
        <input type="radio" name="options" autocomplete="off" value="update"> Currently Active
    </label>

</div>

<div class="container"  id="all_table">

    <table class="table table-hover table-striped">
        <thead>
            <th scpoe="col">Company</th>
            <th scpoe="col">Location</th>
            <th scpoe="col">Joining Date</th>
            <th scpoe="col">Apply By</th>
            <th scpoe="col">Salary (LPA)</th>
            <th scpoe="col">Domain</th>
            <th scpoe="col">Eligibility</th>
            <!-- <th scpoe="col">Perks</th> -->
            <th scpoe="col">Link</th>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr class="clickable text-center" onclick=" window.location.href='#'">
                <td>{{job.comp_name}}</td>
                <td>{{job.location}}</td>
                <td>{{job.start_date}}</td>
                <td>{{job.apply_by}}</td>
                <td>{{job.sal}}</td>
                <td>{{job.domain}}</td>
                <td>{{job.who_can_apply}}</td>
                <!-- <td>{{job.perks}}</td> -->
                <td><a href="{{job.link}}">Link</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="container" id="current_table" style="display: none;">
    <table class="table table-hover table-striped" >
        <thead>
            <th scpoe="col">Company</th>
            <th scpoe="col">Location</th>
            <th scpoe="col">Joining Date</th>
            <th scpoe="col">Apply By</th>
            <th scpoe="col">Salary (LPA)</th>
            <th scpoe="col">Domain</th>
            <th scpoe="col">Eligibility</th>
            <!-- <th scpoe="col">Perks</th> -->
            <th scpoe="col">Link</th>
        </thead>
        <tbody>
           
        </tbody>
    </table>
</div>


<script>
    $(document).ready(function () {

        $("#all").click(function () {
            $("#current_table").hide()
            $("#all_table").show()
        })
        $("#current").click(function () {
            $("#all_table").hide()
            $("#current_table").show()
        })

    })
</script>
{% endblock %}