{% extends "placement/base.html" %}
{% load static %}
{% load custom_tags %}
{% block title %} Students Details {% endblock %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/placement_cell/student_details.css' %}">

<h3 class="text-center mb-5">Students Details</h3>

<div class="int-job-div">
    <div class="my-5 ">
        <div id="search-div">
            <form method="POST" action="{% url 'student_details'%}">
                {% csrf_token %}
                <div class="input-group mb-3" id="search-box">
                    <input type="text" name="to_search"  style="border: none;border-radius: 40px 0px 0px 40px;"
                        class="form-control " placeholder="Search for Roll Number" aria-label=""
                        aria-describedby="basic-addon1">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" id="search-btn" type="submit"><i
                                class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h4 class="text-center mb-5"></h4>
    <table class="table table-hover table-striped table-responsive-sm">
        <thead>
            <tr>
                <th>Roll Number</th>
                <th>Name</th>
                <th>Branch</th>
                <th>Year Of Graduation</th>
            </tr>
        </thead>
        <tbody>
            {% for student in students %}
            
            <tr onclick=" window.location.href='/placement_cell/displayProfile/{{ studnet.roll_no }}/'">
                <td>{{student.roll_no}}</td>
                <td>{{student.name}}</td>
                <td>{{student.branch}}</td>
                <td>{{student.yor}}</td>
            </tr>
    
            {% endfor %}
        </tbody>
    </table>

</div>






{% endblock %}