{% extends "authentication/base.html" %}
{% load static %}
{% block title %}
  Forgot Password
{% endblock title %}
{% block content %}
<div class="grid">
    <div class="grid-item" id="login-img">
        <h1 style="text-align: center; margin-top: 2rem;color: #0F2C44;">VPlacements</h1>
        <img src="{% static 'images/loginPage.png' %}" class="img-fluid" alt="Img"
            style="height: 31em; margin-left: 5rem;">
    </div>
    <div class="grid-item" style="align-items: center;">
        <fieldset>
            <legend>Forgot Password</legend>

            <form method="post" action="">
                {% csrf_token %}
                    <div class="mb-4">
                        <input type="text" name="username" size="30" placeholder="Username" class="form-control">
                    </div>
    
    
               
    
                {% if messages %}
                    {% for message in messages %}
                        <div style="margin: 10px 20px;">
                            <strong
                                    style="color: red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
    
               <div class="text-center" style="margin: 15px 0;">
                <button type="submit" class="btn btn-primary" id="login-btn">submit</button>
               </div>
            </form>



        </fieldset>
    </div>
</div>

{% endblock content %}



