{% extends "authentication/base.html" %}
{% load static %}
{% block title %}
  Login
{% endblock title %}
{% block content %}
  
<div class="grid">
    <div class="grid-item" id="login-img">
        <h1 style="text-align: center; margin-top: 2rem;color: #0F2C44;">VPlacements</h1>
        <img src="{% static 'images/loginPage.png' %}" class="img-fluid" alt="Img"
            style="height: 31em; margin-left: 5rem;">
    </div>
    <div class="grid-item" style="align-items: center;">
        <fieldset>
            <legend>Login</legend>

            <form method="post" action="" class="mt-3">
                {% csrf_token %}
                <div class="mb-4">
                    <input type="text" name="username" size="30" placeholder="Username" class="form-control">
                </div>

                <div class="mb-2">
                    <input type="password" name="password" size="30" placeholder="Password" class="form-control">
                </div>
                

                <div class="mb-3"><a style="text-decoration: none;" href="{% url 'forgot_password' %}">Forgot
                        Password ?</a> </div>


                {% if messages %}
                {% for message in messages %}
                <div style="margin: 10px 20px;">
                    <strong style="color: red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{message }}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <div class="text-center mt-3 mb-5">
                    <button type="submit" class="btn btn-primary" id="login-btn">Login</button>
                    <p class="mt-2">Don’t have an account? <a href="{% url 'register' %}"
                            style="color: #0066cc;text-decoration: none;">Register</a></p>
                </div>
            </form>




        </fieldset>
    </div>
</div>

{% endblock content %}