<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- google fonts -->
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel='stylesheet'>
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">


</head>

<body>

    <div class="column2">
        <div class="card">
            <p><span class="your">YOUR</span><br><span class="future">FUTURE</span><br><span class="start">STARTS
                    HERE</span></p>
        </div>
    </div>
    <div class="column2">
        <div class="card-body bg-white shadow">
            <h2 style="color:#1aa3ff;font-family:Copperplate Gothic Bold;text-align:center;"><b>Welcome</b></h2>
            <form method="post" action="">
                {% csrf_token %}
                <div class="inputWithIcon">
                    <input type="text" name="username" size="30" placeholder="Username...">
                    <i class=" fa fa-user fa-lg fa-fw"></i>

                </div>

                <div class="inputWithIcon inputIconBg">
                    <input type="password" name="password" size="30" placeholder="Password...">
                    <i class=" fa fa-lock fa-lg fa-fw"></i>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div style="margin: 10px 20px;">
                    <strong
                        style="color: red;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{message}}</strong>
                </div>
                {% endfor %}
                {% endif %}

                <input type="submit" name="submit" class="Button" value="Login"
                    style="text-align:center;font-size:22px;">
            </form>
            <p style="text-align:center;"><a href="#" style="text-decoration:none;color: #000000;">Forgot Password ?</a>
            </p>
        </div>
    </div>
    </div>





</body>

</html>