<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <link rel="shortcut icon" href="{% static  'images/vitwhite.png' %}" type="image/png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/6b2983e729.js" crossorigin="anonymous"></script>
</head>

<body>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="container mt-5">
        <div class="card">
            <div class="card-header text-center">
                <h1>Registration</h1>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if stundent_form.errors and user_form %}
                    <div class="alert alert-danger" role="alert">
                        {{form.errors}}
                    </div>
                    {% endif %}

                    <div class="container" id="first">
                        <div class="mb-3">
                            <label><strong>Roll Number:</strong></label>
                            {{student_form.roll_no}}
                        </div>
                        <div class="mb-3" style="display: none;">
                            <label><strong>Username:</strong></label>
                            {{user_form.username}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Full Name:</strong></label>
                            <small class="form-text mb-2">First Name Middle Name Last Name . This is Mandatory</small>
                            {{user_form.first_name}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Password:</strong></label>
                            <small class="form-text mb-2 text-danger" id="id_small"></small>
                            {{user_form.password1}}
                            <small id="id_show1" style="cursor: pointer;" onclick="showPassword()"><i
                                    class="fas fa-eye"></i> view Password</small>
                        </div>
                        <div class="mb-3">
                            <label><strong>Confirm Password:</strong></label>
                            {{user_form.password2}}
                            <small id="id_show2" style="cursor: pointer;" onclick="showCPassword()"><i
                                    class="fas fa-eye"></i> view Password</small>
                        </div>
                        <div class="float-right">
                            <button type="button" id="next1" class="btn btn-primary">Next</button>
                        </div>
                    </div>

                    <div class="container mb-3" id="second" style="display: none;">
                        <div class="mb-3">
                            <label><strong>Gender:</strong></label>
                            {{student_form.gender}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Branch:</strong></label>
                            {{student_form.branch}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Division:</strong></label>
                            {{student_form.div}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Date Of Birth:</strong></label>
                            {{student_form.date_of_birth}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Age:</strong></label>
                            {{student_form.age}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Corresponding Address:</strong></label>
                            {{student_form.corresponding_address}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Permanent Address:</strong></label>
                            <small class="form-text mb-2">If it is same as Correspondence Address then write it as "
                                Same as
                                above" If not mention Permanent Address</small>
                            {{student_form.permanent_address}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Email Address(@vit.edu.in):</strong></label>
                            {{user_form.email}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Email Address(@gmail.com):</strong></label>
                            {{student_form.gmail}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Landline/Mobile Number of Residence:</strong></label>
                            {{student_form.residence_phone}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Personal Mobile Number:</strong></label>
                            {{student_form.phone}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Pan Card Number:</strong></label>
                            <small class="form-text mb-2">If you do not have then apply immediately. If you have
                                applied,
                                Enter "Applied".
                            </small>
                            {{student_form.pan_card_no}}
                            <div style="display: none;" id="pan_error"><strong><p class="text-danger" style="font-weight: 500;">Invalid Pan Number</p></strong></div>
                        </div>
                        <div class="mb-3">
                            <label><strong>Aadhar Number:</strong></label>
                            {{student_form.aadhar_no}}
                            <div style="display: none;" id="aadhar_error"><strong><p class="text-danger" style="font-weight: 500;">Invalid Aadhar Number</p></strong></div>
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Passport Number:</strong></label>
                            <small class="form-text mb-2">If you do not have then apply immediately. If you have
                                applied,
                                Enter "Applied" . If you dont have passport please mention NA.
                            </small>
                            {{student_form.passport_no}}
                            <div style="display: none;" id="pass_error"><strong><p class="text-danger" style="font-weight: 500;">Invalid Passport Number</p></strong></div>
                        </div>
                        <div class="mb-3">
                            <label><strong>Year Of Graduation:</strong></label>
                            {{student_form.year_of_graduation}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Do you have any Disability:</strong></label>
                            {{student_form.disability}}
                        </div>
                        <div class="mb-3" id="disability_block" style="display: none">
                            <label><strong>Type of Disability:</strong></label>
                            {{student_form.type_of_disability}}
                        </div>
                        
                        <div class="mb-3">
                            <label><strong>Father Name:</strong></label>
                            {{student_form.father_name}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Father Occupation:</strong></label>
                            {{student_form.father_occupation}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Mother Name:</strong></label>
                            {{student_form.mother_name}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Mother Occupation:</strong></label>
                            {{student_form.mother_occupation}}
                        </div>
                        <div class="float-right">
                            <button type="button" id="back2" class="btn btn-primary">Back</button>
                            <button type="button" id="next2" class="btn btn-primary">Next</button>
                        </div>
                    </div>

                    <div class="container mb-3" id="third" style="display: none;">
                        <div class="mb-3">
                            <label><strong>Programming Skills:</strong></label>
                            {{student_form.skills}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Co-Curriculum Activities:</strong></label>
                            {{student_form.co_curriculum_activities}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Extra-Curriculum Activities:</strong></label>
                            {{student_form.extra_curriculum_activities}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Hobbies:</strong></label>
                            {{student_form.hobbies}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Profile Photo:</strong></label>
                            <small class="form-text mb-2">Should be less than 25MB</small>
                            {{student_form.profile_photo}}
                        </div>
                        <div class="mb-3">
                            <label class="mb-0"><strong>Resume:</strong></label>
                            <small class="form-text mb-2">Should be less than 25MB</small>
                            {{student_form.resume}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Facebook:</strong></label>
                            {{student_form.facebook}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Linkdin:</strong></label>
                            {{student_form.linkdin}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Github:</strong></label>
                            {{student_form.github}}
                        </div>
                        <div class="mb-3">
                            <label><strong>Other:</strong></label>
                            {{student_form.other}}
                        </div>
                        <div class="mb-3" style="display: none;">
                            {{student_form.is_email_verified}}
                        </div>

                        <div class="text-center mb-3">
                            <button type="button" id="back3" class="btn btn-primary">Back</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>





                </form>
            </div>
        </div>

    </div>
    <script src="{% static 'js/validation.js' %}"></script>


</body>

</html>