{% load static %}
<nav style="background-color:#0F2C44;height: 5rem;" id="upper-nav-id">
    <img id="vitLogo" src="{% static 'images/vitLogo.png' %}" alt="vitLogo" style="height: 2.5rem;margin-top: 1.2rem;margin-left: 2.5rem;">

    <div id="sideName" style="float: right;color: white;margin-top: 1rem; margin-right: 2.5rem;">
        <h5 >Vidyalankar Institute of Technology</h5>
        <img src="{% static 'images/vitMarathi.png' %}" alt="vitLogo" style="width:15rem;float: right;">
    </div>
    
</nav>

<style>
    @media screen and (max-width:500px){

        #sideName{
            display: none;
        }
        #vitLogo{
            height: 4rem;
        }
    }
</style>